<template>
  <div id="about-page">
    <section id="about">
      <breadcrumbsComponent/>
      <section id="logo-wrapper">
        <img src="../assets/about-page/about-logo.png" class="img-fluid" alt="logo">
      </section>
      <div class="desc-wrapper">
        <div class="container">
          <div class="desc-block py-2">
            <div class="title">О магазине:</div>
            <div class="desc pb-3">Приветствуем Тебя на официальном сайте интернет-магазина ресурса «Рунодел».</div>
            <div class="desc pb-3">Не смотря на свойственное маркетплейсам богатство выбора данного магазина, в рамках ресурса «Рунодел» страничка является, по сути, «сувенирной лавкой при музее», где каждый, проникшийся идеей рун, в зависимости от дальнейших намерений или внутреннего отклика, может приобрести себе сопутствующие предметы.</div>
            <div class="desc pb-3">Если Тебя всерьёз увлекла не только практика рунодела, но и богатое исторически– культурное наследие древних народов Севера Европы, считавших, что украшение с Рунами – это не просто декоративная мелочь, но и личный талисман, несущий в себе сакральный смысл сопричастности с их энергией,  дающий защиту и силу для обладателя, то многие из наших вещей смогут стать полезными и прослужат Тебе в данном качестве много лет!</div>
            <div class="desc pb-3">Мы старались обеспечить тебя притягательным выбором, попытались удивить и порадовать, создав структуру, где и приобретение,  сопутствующего твоему интересу и  «просто посмотреть» - увлекательный процесс, сходный твоему погружению в руны.</div>
          </div>
<!--          <div class="row numbers-block pt-3 pt-lg-5">-->
<!--            <div class="col-12 col-lg-3 d-flex flex-column">-->
<!--              <h1 class="head-count">>1000</h1>-->
<!--              <p class="sub-count"><span>20 категориях</span> на 31 декабря 2021</p>-->
<!--            </div>-->
<!--            <div class="col-12 col-lg-3 d-flex flex-column">-->
<!--              <h1 class="head-count">>200%</h1>-->
<!--              <p class="sub-count">товарных наименований в <span>рост заказов</span></p>-->
<!--            </div>-->
<!--            <div class="col-12 col-lg-3 d-flex flex-column">-->
<!--              <h1 class="head-count">>40</h1>-->
<!--              <p class="sub-count"><span>категорий</span> товаров в нашем нтернет-магазине</p>-->
<!--            </div>-->
<!--            <div class="col-12 col-lg-3 d-flex flex-column">-->
<!--              <h1 class="head-count">>1000</h1>-->
<!--              <p class="sub-count">товарных наименований в <span>20 категориях</span></p>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="banner-block d-flex py-3 py-lg-5 ">
          <img src="../assets/about-page/banner-img-2.png" class="img-fluid" alt="">
        </div>
        <div class="container">
          <div class="desc-block py-3 py-lg-3">
<!--            <div class="title">И...</div>-->
            <div class="desc">Это может случиться как пробный или эксклюзивный набор Рун для обучения и самостоятельной практики, в которой мы всегда поможем, так и рунный запяст, дающий преимущества искателю истины на пути создания собственной реальности в форме энергии, дополнившей именной артефакт необходимыми сегментами от опытных практиков ресурса, создавших программу под задачу выгодоприобретателя.</div>
          </div>
          <div class="desc-block py-3 py-lg-3">
            <div class="desc pb-3">Какие-то из позиций нашего каталога  являются  точными копиями старинных украшений  германцев, скандинавов и других древних европейских народов, воссозданные по оригиналам, найденных при археологических раскопках. Другая часть коллекции включает в себя современное художественное творчество и в этой области фантазия не знает границ. Тут и винтажные украшения, и романтические узоры, и актуальные сюжеты из скандинавской мифологии в новых интерпретациях, и яркие, врезающиеся в память образы, воплощённые в декоративных предметах, несущие глубокий энергетический  отпечаток инициации с Рунами.</div>
            <div class="desc pb-3">Здесь мы очень постарались избавить Тебя от траты лишнего времени на изучение рунного ассортимента во всех остальных магазинах среди предметов и украшений  прочего назначения и сторонней атрибутики, как и от прочёсывание интернета с мучительными вопросами в стиле: «Какой рунный набор купить?».</div>
            <div class="desc pb-3">Мы посчитали важным обеспечить Тебя исключительно притягательным выбором, попытались удивить и порадовать, создав структуру, где и приобретение,  сопутствующего твоему интересу и  «просто посмотреть» -  увлекательный процесс, сходный твоему погружению в Руны и Миф. </div>
            <div class="title pt-5 text-center" style="font-size: 36px"><span>Удачного совпадения!</span></div>
<!--            <ul class="desc&#45;&#45;list">-->
<!--              <li>предметы интерьера — маски, подвесные фонарики, панно;</li>-->
<!--              <li>из Индии, Китая и других стран;</li>-->
<!--              <li>украшения: бусы, серьги, браслеты, кольца, подвески, кулоны;</li>-->
<!--              <li>этническая посуда: наборы для суши, саке и церемонии чаепития.</li>-->
<!--            </ul>-->
          </div>
        </div>
      </div>
    </section>
    <section id="contacts">
      <yandex-map :coords="coords" zoom="15" :controls="[]">
        <ymap-marker
            marker-id="123"
            :coords="coords"
            :balloon-template="balloonTemplate"
        ></ymap-marker>
        <div class="company-info-wrapper d-none d-lg-block">
          <div class="container">
            <div class="row wrapper-block px-0 px-xxl-5">
              <div class="col-3 wrapper-column">
                <span class="title">Адрес</span>
                <span class="desc">117452, г. Москва , Симферопольский бульвар д. 19 к 1 офис 112</span>
              </div>
              <div class="col-3 wrapper-column">
                <span class="title">Телефон</span>
                <span class="desc mb-1">+7 (905) 7106436</span>
                <span class="desc">(Viber/Whatsapp)</span>
              </div>
              <div class="col-3 wrapper-column">
                <span class="title">E-mail</span>
                <span class="desc">info@runodel.ru</span>
              </div>
              <div class="col-3 wrapper-column">
                <span class="title">График работы</span>
                <span class="desc mb-1">Пн. – Пт.: с 10:00 до 19:00</span>
                <span class="desc">Вс.: ВЫХОДНОЙ</span>
              </div>
            </div>
          </div>
        </div>
        <div class="company-info-wrapper-mobile d-block d-lg-none">

        </div>
      </yandex-map>
<!--      <div class="container">-->
<!--        <div class="info-wrapper">-->
<!--          <div class="info-block">-->
<!--            <h2 class="info-block&#45;&#45;title">Ещё немного...</h2>-->
<!--            <p class="info-block&#45;&#45;desc">Звонки в интернет-магазине принимаются с 10:00 до 19:00 по Московскому времени, в выходные дни с 10:00 до 18:00. Заказы и сообщения в интернет магазине - круглосуточно.-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <contactForm/>
      <externalNavBtns/>
    </section>
  </div>

</template>

<script>
import breadcrumbsComponent from "@/components/BreadcrumbsComponent";
import { yandexMap, ymapMarker } from 'vue-yandex-maps'
import externalNavBtns from "@/components/ExternalNavBtns";
import contactForm from "@/components/ContactForm";

export default {
  name: "AboutUs",
  components: {
    breadcrumbsComponent,
    yandexMap,
    ymapMarker,
    externalNavBtns,
    contactForm,
  },
  data: () => ({
    coords: [55.76, 37.63],
  }),
  computed: {
    balloonTemplate() {
      return `
        <p>Мы здесь: ${this.coords}</p>
      `
    }
  },
  methods: {
    // onClick(e) {
    //   this.coords = e.get('coords');
    // }
  }
}
</script>

<style lang="scss" scoped>
  #about {
    #logo-wrapper {
      padding: 80px 120px;
      background: url("../assets/pattern-hex.svg") center top/35%, url("../assets/black_paper.png");
      text-align: center;
    }
    .desc-wrapper {
      padding: 40px 0;

      .desc-block {
        .title {
          font-family: TT Mussels, sans-serif;
          font-weight: 500;
          font-size: 36px;
          line-height: 48px;
        }
        .desc {
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          span {
            font-weight: 700;
          }
          &--list {
            padding-top: 10px;
            li {
              padding: 2px 2px;
              list-style-image: url("../assets/about-page/list-marker.svg");
            }
          }
        }
      }
      .numbers-block {
        .head-count {
          font-weight: 500;
          font-size: 56px;
          line-height: 48px;
          color: #97743A;
          margin-bottom: 10px;
        }
        .sub-count {
          font-size: 15px;
          line-height: 20px;
          span {
            font-weight: 700;
          }
        }
      }
      .banner-block {
        img {
          width: 96vw;
          max-width: 1440px;
          margin: 0 auto;
        }
      }
    }
  }
  #contacts {
    .ymap-container {
      height: 370px;
      position: relative;
      .company-info-wrapper {
        //display: flex;
        position: absolute;
        top: 30px; left: 0;
        width: 100%;
        .wrapper-block {
          align-items: center;
          padding: 20px 16px;
          //width: 1281px; height: 120px;
          background: url("../assets/contacts-page/info-wrapper_bg.png") no-repeat center center/100%;
          .wrapper-column {
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 20px 30px;
            &:not(:last-child):after {
              height: 50px; width: 2px;
              transform: translateY(-50%);
              background: #CEA662;
              position: absolute;
              top: 50%; right: 0;
              content: '';
            }
            .title {
              font-weight: bold;
              font-size: 15px;
              line-height: 18px;
              margin-bottom: 7px;
            }
            .desc {
              font-weight: normal;
              font-size: 15px;
              line-height: 18px;
            }
          }
        }
      }
    }
    .red {
      color: red;
    }
    .info {
      &-wrapper {
        padding: 50px 0 40px;
        .info-block {
          margin-bottom: 40px;
          &--title {
            font-family: TT Mussels, sans-serif;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
          }
          &--desc {
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
          }
        }
      }

    }

  }

</style>
