<template>
  <div id="breadcrumbs-block">
    <div class="container">
      <Breadcrumbs/>
      <div class="page-title">
        <h2>{{breadcrumbTitle}}</h2>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "BreadcrumbsComponent",
  data: () => ({
    breadcrumbTitle: ''
  }),
  created() {
  },
  mounted() {
    this.breadcrumbTitle = this.$route.meta.title
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>
  #breadcrumbs-block {
    padding: 40px 0 25px;
    background: url("../assets/pattern-hex-2.svg") repeat center center/35%, url("../assets/pattern-wall.png");
    .page-title {
      h2 {
        font-family: TTMussels, serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
      }
    }
  }
</style>
