<template>
  <div id="cart">
    <breadcrumbsComponent/>
    <div class="container" v-if="!CART.length">
      <div class="row my-5 empty-cart">
        <div class="col-12 text-center my-5">
          <h1>В корзине пусто</h1>
        </div>
      </div>
    </div>
    <div class="container" v-else-if="CART.length">
      <div class="row mt-5">
        <div class="col-12 col-md-9 left-side">
          <section id="product-info">
            <div class="product-title">
              Корзина
            </div>
            <div class="product-body">
              <CartItem
                v-for="(item, index) in CART"
                :key="item.sku"
                :cart_item_data="item"
                @deleteItem="deleteFromCart(index)"
              />
            </div>
          </section>
          <section id="accordion-section">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    <img src="../assets/cart-page/accordion-head-icon-1.png" alt="">
                    <span>Персональные данные</span>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                    <form id="brise-form">
                      <div class="wrap-line">
                        <div class="brise-input">
                          <input type="text" name="text" required>
                          <label>Имя</label>
                          <span class="line"></span>
                        </div>
                        <div class="brise-input">
                          <input type="text" name="text" required>
                          <label>Отчество</label>
                          <span class="line"></span>
                        </div>
                      </div>
                      <div class="wrap-line">
                        <div class="brise-input">
                          <input type="text" name="text" required>
                          <label>Фамилия</label>
                          <span class="line"></span>
                        </div>
                        <div class="brise-input">
                          <input type="text" name="text" required>
                          <label>Телефон</label>
                          <span class="line"></span>
                        </div>
                      </div>
                      <div class="wrap-line">
                        <div class="brise-input">
                          <input type="text" name="text" required>
                          <label>Email</label>
                          <span class="line"></span>
                        </div>
                        <div class="brise-input">
                          <input type="text" name="text" required>
                          <label>Дата рождения</label>
                          <span class="line"></span>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                    <img src="../assets/cart-page/accordion-head-icon-2.png" alt="">
                    <span>Способ доставки</span>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">
                      <div class="row radio-block">
                        <div class="col-12 col-md-7">
                          <div class="wrap-column">
                            <!-- Radio -->
                            <div class="brise-radio">
                              <label>
                                <input name="radio" type="radio" required checked>
                                <div class="radio">
                                  <div class="back-icon-wrapper">
                                    <img src="../assets/cart-page/delivery-back-icon-1.png" alt="">
                                  </div>
                                </div>
                                <span class="label">Самовывоз</span>
                              </label>
                            </div>
                            <div class="brise-radio">
                              <label>
                                <input name="radio" type="radio" required>
                                <div class="radio">
                                  <div class="back-icon-wrapper">
                                    <img src="../assets/cart-page/delivery-back-icon-2.png" alt="">
                                  </div>
                                </div>
                                <span class="label">Доставка курьером</span>
                              </label>
                            </div>
                            <div class="brise-radio">
                              <label>
                                <input name="radio" type="radio" required>
                                <div class="radio">
                                  <div class="back-icon-wrapper">
                                    <img src="../assets/cart-page/delivery-back-icon-3.png" alt="">
                                  </div>
                                </div>
                                <span class="label">СДЭК</span>
                              </label>
                            </div>
                            <!-- Radio -->
                          </div>
                        </div>
                        <div class="col-12 col-md-5">
                          <div class="delivery-info-block">
                              <div class="title">Самовывоз</div>
                              <div class="desc">
                                <p>Получение заказа производится в магазине по адресу: г. Москва, ул.Рунная д. 34/8 после согласования заказа с менеджером.</p>
                                <p>Услуга самовывоза бесплатна. Срок резервации заказа после согласования - 4 дня, включая день доставки.</p>
                              </div>
                              <div class="price-info">
                                Стоимость: 0 руб.
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
                    <img src="../assets/cart-page/accordion-head-icon-3.png" alt="">
                    <span>Способ оплаты</span>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
                  <div class="accordion-body">
                    <div class="row radio-block">
                      <div class="col-12 col-md-7">
                        <div class="wrap-column">
                          <!-- Radio -->
                          <div class="brise-radio">
                            <label>
                              <input name="radio" type="radio" required checked>
                              <div class="radio">
                                <div class="back-icon-wrapper">
                                  <img src="../assets/cart-page/payments-back-icon-1.png" alt="">
                                </div>
                              </div>
                              <span class="label">Наличный расчет в магазине или курьеру</span>
                            </label>
                          </div>
                          <div class="brise-radio">
                            <label>
                              <input name="radio" type="radio" required>
                              <div class="radio">
                                <div class="back-icon-wrapper">
                                  <img src="../assets/cart-page/payments-back-icon-2.png" alt="">
                                </div>
                              </div>
                              <span class="label">Наличный расчет в магазине или курьеру</span>
                            </label>
                          </div>
                          <div class="brise-radio">
                            <label>
                              <input name="radio" type="radio" required>
                              <div class="radio">
                                <div class="back-icon-wrapper">
                                  <img src="../assets/cart-page/payments-back-icon-3.png" alt="">
                                </div>
                              </div>
                              <span class="label">Оплата банковскими картами на сайте online</span>
                            </label>
                          </div>
                          <!-- Radio -->
                        </div>
                      </div>
                      <div class="col-12 col-md-5">
                        <div class="delivery-info-block">
                          <div class="title">Наличный расчет</div>
                          <div class="desc">
                            <p>Оплата заказа производится в магазине по адресу г. Москва, ул.Рунная д. 34/8 или курьеру при получении заказа.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-12 col-md-3 right-side">
          <div class="product-order-wrapper">
            <div class="order-title"><span>Ваш заказ</span></div>
            <div class="order-body">
              <div class="item-row">
                <span>Товары</span>
                <span>2шт.</span>
              </div>
              <div class="item-sale">
                <span>Скидка</span>
                <span>0%</span>
              </div>
            </div>
            <div class="order-summary">
              Итого 2150 ₽
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import breadcrumbsComponent from "@/components/BreadcrumbsComponent";
import CartItem from "@/components/CartItem";

import {mapGetters, mapActions} from 'vuex';


export default {
  name: "Cart",
  components: {
    breadcrumbsComponent,
    CartItem
  },
  data() {
    return {
      cart_data: []
    }
  },
  methods: {
    ...mapActions([
        'DELETE_FROM_CART'
    ]),
    deleteFromCart(index) {
      this.DELETE_FROM_CART(index)
    }
  },
  computed: {
    ...mapGetters([
        'CART'
    ])
  }
}
</script>

<style lang="scss" scoped>
  #cart {
    .empty-cart {
      //background: url("../assets/pattern-wall.png") repeat center center;
      font-family: TT Mussels, sans-serif;
    }
    .left-side {
      #product-info {
        padding: 16px 30px;
        background: #F8F8F9;
        .product-title {
          font-family: 'TT Mussels', sans-serif;
          font-weight: 500;
          font-size: 36px;
        }
      }
      #accordion-section {
        margin-bottom: 150px;
        .accordion {
          .accordion-item {
            border-radius: 0;
            border: none;
            margin-bottom: 15px;
            .accordion-header {
              .accordion-button {
                padding: 20px;
                img {
                  margin-right: 10px;
                }
                span {
                  font-weight: 600;
                  font-size: 20px;
                  color: #000000;
                }
                &::after {
                  background-image: url("../assets/cart-page/accordion-extand-icon.svg");
                }
                &:not(.collapsed) {
                  color: #0c63e4;
                  background-color: #F8F8F9;
                  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
                }
                &:focus {
                  box-shadow: none;
                }
              }
            }
            .accordion-collapse {
              border-left: 1px solid rgba(black, 0.15);
              border-right: 1px solid rgba(black, 0.15);
              border-bottom: 1px solid rgba(black, 0.15);
              .accordion-body {
                padding: 20px 30px;
                form {
                  .wrap-line {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-bottom: 20px;
                  }
                  .brise-input {
                    width: 350px;
                    position: relative;
                    margin: 5px;
                    overflow: hidden;
                    padding-top: 15px;

                  }
                  .brise-input input {
                    width: 100%;
                    padding: 10px;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid #999;
                    box-sizing: border-box;
                    position: relative;
                    z-index: 5;
                    background: none;
                    font-weight: 400;
                    font-size: 15px;
                    color: rgba(black, 0.35);
                  }
                  .brise-input input:focus ~ label, input:valid ~ label  {
                    top: 0;
                    transform: scale(0.94) translateX(-2px);
                    font-weight: 500;
                    font-size: 12px;
                    color: #97743A;
                    text-transform: uppercase;
                  }
                  .brise-input .line {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 3px;
                    background: linear-gradient(to right, #FDF5E5 20%, #CEA662 70%, #583C0D 100%);
                    //left: -999px;
                    transition: .25s;
                    opacity: 0;
                    z-index: 6;
                  }
                  .brise-input input:focus ~ .line {
                    left: 0;
                    opacity: 1;
                  }
                  .brise-input label {
                    position: absolute;
                    left: 10px;
                    top: 45%;
                    transition: ease-out .15s;
                    color: #999;
                  }
                }
                .radio-block {
                  /* Radio Style */
                  .brise-radio {

                    margin: 5px;
                  }
                  .brise-radio label {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    position: relative;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 28px;
                  }
                  .brise-radio label input {
                    display: none;
                  }
                  .brise-radio label .radio {
                    display: block;
                    width: 17px;
                    height: 17px;
                    border: 1px solid #CEA662;
                    border-radius: 50%;
                    margin-right: 105px;
                    margin-bottom: 75px;
                    transition: .15s;
                    position: relative;
                    .back-icon-wrapper {
                      padding: 25px;
                    }

                  }
                  .brise-radio label .radio::before {
                    content: '';
                    position: absolute;
                    left: 2px;
                    top: 2px;
                    bottom: 3px;
                    right: 3px;
                    width: 11px;
                    height: 11px;
                    background: linear-gradient(to right, #FDF5E5 20%, #CEA662 70%, #583C0D 100%);
                    border-radius: 50%;
                    opacity: 0;
                    transform: scale(1.5);
                    transition: ease-out .15s;
                    outline: 2px solid rgba(0, 0, 0, 0.75);
                  }
                  .brise-radio label input:checked ~ .radio::before {
                    transform: scale(1);
                    opacity: 1;
                  }
                  .brise-radio label input:checked ~ .label {
                    color: #97743A;
                  }
                  .brise-radio label input:checked ~ .radio{
                    background: linear-gradient(to right, #FDF5E5 20%, #CEA662 70%, #583C0D 100%);
                  }
                  /* End Radio */

                  .delivery-info-block {
                    border-top: 2px solid #97743A;
                    padding: 15px 26px;
                    background: #F8F8F9;
                    .title {
                      font-weight: 600;
                      font-size: 15px;
                      margin-bottom: 16px;
                    }
                    .desc {
                      margin-bottom: 32px;
                      p {
                        font-size: 12px;
                        color: rgba(black, 0.35);
                      }
                    }
                    .price-info {
                      font-weight: 600;
                      font-size: 15px;
                    }
                  }
                }
              }

            }
          }

        }
      }

    }
    .right-side {
      .product-order-wrapper {
        padding: 30px;
        border: 1px solid rgba(#000000, 0.15);
        .order-title {
          font-weight: 600;
          font-size: 20px;
          padding: 0 0 16px 0;
        }
        .order-body {
          font-weight: 400;
          font-size: 15px;
          opacity: 0.5;
          padding: 16px 0;
          border-top: 1px solid #C4C4C4;
          border-bottom: 1px solid #C4C4C4;
          .item-row {
            display: flex;
            justify-content: space-between;
          }
          .item-sale {
            display: flex;
            justify-content: space-between;
          }
        }
        .order-summary {
          font-weight: 600;
          font-size: 20px;
          padding: 16px 0 0 0;
        }
      }
    }
  }
</style>
