<template>
  <div class="d-flex cart-item">
    <div class="item__image">
      <img :src="cart_item_data.img" :alt="cart_item_data.title" class="img-fluid">
    </div>
    <div class="item__info d-flex flex-fill justify-content-between">
      <div>
        <span class="title">{{cart_item_data.title}}</span>
        <p class="sku">{{cart_item_data.sku}}</p>
      </div>
      <div>
        <p><span>Кол-во: </span>{{cart_item_data.quantity}}</p>
      </div>
      <div class="price_side">
        <p>{{cart_item_data.price}}₽</p>
        <button @click="deleteItem" class="btn">Удалить</button>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: "CartItem",
  props: {
    cart_item_data: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {}
  },
  computed: {

  },
  methods: {
    deleteItem() {
      this.$emit('deleteItem')
    }
  },
  mounted() {
    this.$set(this.cart_item_data, 'quantity', 1)
  }
}
</script>

<style lang="scss" scoped>
  .cart-item {
    padding: 20px 25px;
    .item__image {
      //padding: 20px;
      border: 2px solid #CEA662;
      max-width: 124px;
      img {

      }
    }
    .item__info {
      margin-left: 30px;
      .title {
        font-weight: 600;
        font-size: 20px;
      }
      .sku {
        font-weight: 400;
        font-size: 15px;
        color: rgba(black, 0.5);
      }
    }
    .price_side {
      font-weight: 700;
      font-size: 25px;
    }

  }
</style>
