<template>
  <div class="item">
    <router-link tag="span" class="link" style="cursor: pointer" :to="'catalog/' + product.id">
      <div class="img-wrapper">
        <img :src="product.img" :alt="product.title" class="img-fluid">
      </div>
      <div class="title">{{product.title}}</div>
    </router-link>
    <div v-if="product.novelty" class="badge-novelty"><span>Новинка</span></div>
    <div v-if="product.sale" class="badge-sale"><span>Sale {{product.sale}}%</span></div>
    <div>
      <div class="sku mb-4">{{product.sku}}</div>
      <div class="info-block d-flex justify-content-between mb-4">
        <div class="stars-wrapper"><div class="star-item" v-for="item of product.rating" :key="item.id"><img src="../assets/catalog-page/star-icon.svg" alt="rating"></div></div>
        <div class="availability-wrapper">
          <div v-if="product.availability" class="availability"><img class="mx-1" src="../assets/catalog-page/available-icon.png" alt="icon"><span class="green-text">В наличии</span></div>
          <div v-else class="availability"><img class="mx-1" src="../assets/catalog-page/not-available-icon.png" alt="icon"><span class="red-text">Нет в наличии</span></div>
        </div>
      </div>
      <div class="info-block-2 d-flex align-items-center justify-content-between">
        <div class="price-block"><span>{{product.price}}₽</span></div>
        <div class="purchBtn">
          <purchaseCatalogBtn>
            <template v-slot:pur-button-link>
              <a @click="addToCart" class="pur-button-link">Купить</a>
            </template>
          </purchaseCatalogBtn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import purchaseCatalogBtn from "@/components/purchaseCatalogBtn";
export default {
  name: "CatalogItem",
  components: {purchaseCatalogBtn},
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  methods: {
    addToCart() {
      this.$emit('addToCart', this.product)
    }
  }
}
</script>

<style lang="scss" scoped>
  .item {
    padding: 25px 30px;
    text-decoration: none !important;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    .img-wrapper {
      padding: 13px;
      outline: 4px solid #CEA662;
      text-align: center;
      //background: radial-gradient(circle at 80px 40px, #f9eec7, #ffb60f, #ffb60f)
      margin-bottom: 10px;
    }
    .title {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      text-decoration: none;
      color: black;
      margin-bottom: 8px;
    }
    .sku {
      font-size: 15px;
      line-height: 18px;
      color: rgba(black, 0.5);
      margin-bottom: 8px;
    }
    .price-block {
      font-weight: bold;
      font-size: 25px;
      line-height: 28px;
    }
    .badge-novelty {
      position: absolute;
      top: 32px; left: 8px;
      z-index: 5;
      background: #5AA013;
      padding: 4px 10px;
      span {
        font-size: 15px;
        font-weight: 600;
        color: white;
      }
    }
    .badge-sale {
      position: absolute;
      top: 32px; left: 8px;
      z-index: 5;
      background: #EB001B;
      padding: 4px 10px;
      span {
        font-size: 15px;
        font-weight: 600;
        color: white;
      }
    }

    .info-block {
      .stars-wrapper {
        display: flex;
        align-items: center;
        .star-item {
          display: flex;
          margin-right: 4px;
        }
      }
      .availability-wrapper {
        .availability {
          display: flex;
          align-items: center;
          span {
            font-size: 15px;
            line-height: 18px;
            &.green-text {color: #5AA013;}
            &.red-text {color: #EB001B;}
          }
        }
      }
    }
  }
</style>
