<template>
  <div id="catalog-page">
    <breadcrumbsComponent/>
    <section id="top-filter" class="top-block py-5">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-5 col-lg-3 mb-4 mb-lg-0 itemCol" v-for="item of itemsHeadCatalog_arr" :key="item.id">
            <img :src="`${require(`@/assets/catalog-page/${item.fileName}`)}`" class="img-fluid" alt="">
            <purchaseButton>
              <template v-slot:purchase-button-link>
                <a class="purchase-button-link" href="#">{{item.btnTitle}}</a>
              </template>
            </purchaseButton>
          </div>
        </div>
      </div>
    </section>
    <section id="head-content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-3">
            <div class="sidebar">
              <ul>
                <li v-bind="tab_reset" @click="selectTab(tab_reset)" :class="{ 'is-active': tab_reset.isActive }" class="all__product">
                  <span>Все товары</span>
                  <img src="../assets/catalog-page/sidebar_arrow-icon.svg" alt="arrow-icon">
                </li>
                <li v-for="tab in tabs_head" :key="tab.id" :class="{ 'is-active': tab.isActive }" @click="selectTab(tab)">
                  <span>{{ tab.name }}</span>
                  <img src="../assets/catalog-page/sidebar_arrow-icon.svg" alt="arrow-icon">
                </li>
              </ul>
              <ul>
                <li>
                  <span>Цена</span>
                  <img src="../assets/catalog-page/sidebar_arrow-icon.svg" alt="arrow-icon">
                </li>
              </ul>
              <div class="range-slider">
                <div class="rangeBox">
                  <span>{{rangeSliderValues[0]}}₽</span>
<!--                  <div class="sepline"></div>-->
                  <span>{{rangeSliderValues[1]}}₽</span>
                </div>
                <vue-slider
                    v-model="rangeSliderValues"
                    :enable-cross="false"
                    dotSize="18"
                    :tooltip="'none'"
                    :process-style="{ backgroundColor: '#97743A' }"
                    :dot-style="{ backgroundColor: 'white', borderColor: '#97743A', boxShadow: 'none' }"
                    :min="rangeMin"
                    :max="rangeMax"
                    @drag-end="filterProductsByRange"
                >
                </vue-slider>
              </div>
              <ul>
                <li v-for="tab in tabs_bottom" :key="tab.id" :class="{ 'is-active': tab.isActive }" @click="selectTab(tab)">
                  <span>{{ tab.name }}</span>
                  <img src="../assets/catalog-page/sidebar_arrow-icon.svg" alt="arrow-icon">
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-xl-9">
            <div class="row justify-content-between mb-4">
              <div class="col-12 col-md-6"><h6>Количество товаров: {{shopList.length}}</h6></div>
              <div class="col-12 col-md-4">
                <select name="sortBy" id="sortBy" @change="sortBy(sortType)" v-model="sortType" class="form-select form-control">
                  <option value="" disabled>---- Сортировать по ----</option>
                  <option v-for="item in sortOptions" :value="item.value" :key="item.id">{{item.text}}</option>
                </select>
              </div>
            </div>
            <div class="item__wrapper row">
              <catalogItem class="item-prod-col col-12 col-sm-6 col-lg-4"
                 v-for="product in paginatedItems" :key="product.id" :product="product" @addToCart="addToCart"
              />
            </div>
          </div>
        </div>
        <div class="catalog__pagination">
          <div class="page"
               v-for="page in pages"
               :key="page.id"
               :class="{'page__selected': page === pageNumber}"
               @click="pageClick(page)"
          >{{page}}</div>
        </div>
      </div>
    </section>
  </div>

</template>
<script>

import breadcrumbsComponent from "@/components/BreadcrumbsComponent";
import purchaseButton from "@/components/purchaseButton";
import catalogItem from '@/components/CatalogItem.vue'

import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'
import {mapActions} from "vuex";

export default {
  components: {
    breadcrumbsComponent,
    purchaseButton,
    catalogItem,
    VueSlider
  },
  data: () => ({
    itemsHeadCatalog_arr: [
      {btnTitle: 'Акции', fileName: 'catalog-hex-small-1.png'},
      {btnTitle: 'Новинки', fileName: 'catalog-hex-small-2.png'},
      {btnTitle: 'Рунные наборы', fileName: 'catalog-hex-small-3.png'},
      {btnTitle: 'Рунные запясты', fileName: 'catalog-hex-small-4.png'}
    ],
    shopList: null,
    shopListContainer: null,

    itemsPerPage: 9,
    pageNumber: 1,

    sortType: '',
    sortOptions: [
      { text: 'По названию', value: 'Name' },
      { text: 'По популярности', value: 'Popular'},
      { text: 'По наличию', value: 'Availability'},
      { text: 'Сначала дешевые', value: 'PriceUp'},
      { text: 'Сначала дорогие', value: 'PriceDown'}
    ],
    tab_reset: { name: 'All', isActive: true},
    tabs_head: [
      {name: 'Металл', flter: 'metal', isActive: false},
      {name: 'Дерево', flter: 'wood', isActive: false},
      {name: 'Камень', flter: 'stone', isActive: false},
      {name: 'Кожа', flter: 'skin', isActive: false},
    ],
    tabs_bottom: [
      {name: 'Кольца', flter: 'metal', isActive: false},
      {name: 'Барслеты', flter: 'wood', isActive: false},
      {name: 'Кулоны', flter: 'stone', isActive: false},
      {name: 'Серьги', flter: 'skin', isActive: false},
      {name: 'Заколки', flter: 'metal', isActive: false},
      {name: 'Подвески', flter: 'wood', isActive: false},
      {name: 'Броши', flter: 'stone', isActive: false},
      {name: 'Амулеты', flter: 'skin', isActive: false},
      {name: 'Брелоки', flter: 'metal', isActive: false},
      {name: 'Значки', flter: 'wood', isActive: false},
      {name: 'Обложки', flter: 'stone', isActive: false},
      {name: 'Нашивки', flter: 'skin', isActive: false},
    ],
    rangeSliderValues: [100, 1500],
    rangeMin: 50,
    rangeMax: 2500,

    ...mapActions([
        'ADD_TO_CART'
    ])
  }),
  created() {
    this.shopListContainer = this.$store.getters.getShopList;
    this.shopList = this.shopListContainer
    // console.log(this.shopList)
  },
  computed: {
    pages() {
      return Math.ceil(this.shopList.length / this.itemsPerPage)
    },
    paginatedItems() {
        let from = (this.pageNumber -1) * this.itemsPerPage;
        let to = from + this.itemsPerPage;
      return this.shopList.slice(from, to)
    },
  },
  methods: {
    sortBy(type) {
      switch(type.toLowerCase()) {
       case 'name':
         this.shopList.sort((a, b) => a.title !== b.title ? a.title < b.title ? -1 : 1 : 0)
         break;
       case 'popular':
         this.shopList.sort((a, b) => {return b.rating - a.rating})
         break;
       case 'availability':
         this.shopList.sort((a, b) => (a.availability === b.availability)? 0 : a.availability? -1 : 1)
         break;
       case 'priceup':
         this.shopList.sort((a, b) => a.price - b.price )
         break;
       case 'pricedown':
         this.shopList.sort((a, b) => b.price - a.price )
         break;
      }
      // console.log(sortType)
    },
    pageClick(page) {
      this.pageNumber = page;
      document.getElementById('top-filter').scrollIntoView({block: "start", behavior: "auto"});
    },

    selectTab(selectedTab) {
      // console.log(selectedTab.name)
      this.tab_reset.isActive = (this.tab_reset.name === selectedTab.name);
      this.tabs_head.forEach(tab => {tab.isActive = (tab.name === selectedTab.name);});
      this.tabs_bottom.forEach(tab => {tab.isActive = (tab.name === selectedTab.name);});
      let criteria = selectedTab.flter;
      this.shopList = this.shopListContainer
      if (criteria) {
        this.shopList = this.shopList.filter( obj => (obj.type === criteria))
      }
      else {
        this.shopList = this.shopListContainer
      }
    },
    filterProductsByRange() {
      this.shopList = this.shopListContainer
      this.shopList = this.shopList.filter(product => (product.price > this.rangeSliderValues[0] && product.price < this.rangeSliderValues[1]) ? product : '')
    },
    addToCart(data) {
      // console.log(data)
      this.ADD_TO_CART(data)
    }
  }
}
</script>

<style lang="scss" scoped>

  $grid-border:  1px solid rgba(black, 0.15);
  #catalog-page {
    padding-top: 116px;
    .top-block {
      background: url("../assets/pattern-hex.svg") center top/35%, url("../assets/black_paper.png");
      margin-bottom: 60px;
      .itemCol {
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        position: relative;
        .purchaseBtn {
          position: absolute;
          top: 40%;
        }
      }
    }
    #head-content {
      margin-bottom: 50px;
      .sidebar {
        height: 100%;
        background: #F8F8F9;
        ul {
          list-style: none;
          padding: 0;
          li {
            display: flex;
            justify-content: space-between;
            padding: 12px 30px;
            font-weight: 600;
            font-size: 15px;
            cursor: pointer;
            border-left: 6px solid transparent;
            border-bottom: 1px solid #EDEDED;
            img {transition: all 0.1s ease-in;}
            &.all__product {
              margin-bottom: 20px;
              //border-bottom: 10px solid #FFFFFF;
            }
            &.is-active {
              background: #ffffff;
              border-left: 6px solid #97743A;
              color: #97743A;
              img {
                //transition: all 0.2s ease-in;
                transform: rotateZ(90deg);
              }
            }
          }
        }
        .range-slider {
          padding: 12px 36px;
          .rangeBox {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            span {
              font-weight: 400;
              font-size: 15px;
              color: rgba(black, 0.5);
            }
            .sepline {
              background: grey;
              width: 30%; height: 2px;
            }
          }
        }
      }
      .item__wrapper {
        .item-prod-col {
          border-left: $grid-border;
          border-top: $grid-border;
          @media screen and (min-width: 992px) {
            &:nth-child(3n) {
              border-right: $grid-border;
            }
            &:nth-last-child(-n+3){
              border-bottom: $grid-border;
            }
          }
          @media screen and (min-width: 576px) and (max-width: 992px) {
            &:nth-child(2n) {
              border-right: $grid-border;
            }
            &:nth-last-child(-n+2){
              border-bottom: $grid-border;
            }
          }
        }
      }

    }
    .catalog__pagination {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;
      .page {
        padding: 10px 22px;
        //border: solid 1px #e7e7e7;
        font-family: 'TT Mussels', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: normal;
        &:hover {
          //background: #aeaeae;
          cursor: pointer;
        }
      }
      .page__selected {
        background: url("../assets/catalog-page/pagination_item_active.png") no-repeat center;
        color: #97743A;
      }
    }
    @media screen and (max-width: 992px) {
      padding-top: 72px;
    }
  }


</style>
