<template>
  <div id="contact">
    <div class="container">
      <form class="vue-form p-4 p-lg-5" @submit.prevent="submit">
        <div class="error-message">
          <p v-show="!email.valid">Oh, please enter a valid email address.</p>
        </div>
        <fieldset>
          <legend>Обратная связь</legend>
          <div class="row mb-4">
            <div class="col-12 col-lg-6 left-side">
              <div class="mb-3">
                <label class="label" for="name">Ваше имя</label>
                <input type="text" name="name" id="name" required="" v-model="name" placeholder="Введите имя">
              </div>
              <div class="mb-3">
                <label class="label" for="phone">Ваш телефон</label>
                <input type="text" name="phone" id="phone" required=""  placeholder="+7 XXX XX XX XX">
              </div>
              <div class="mb-3">
                <label class="label" for="email">Email</label>
                <input type="email" name="email" id="email" required="" placeholder="mail@domen.com"
                       :class="{ email , error: !email.valid }"
                       v-model="email.value">
              </div>
            </div>
            <div class="col-12 col-lg-6 right-side">
              <div>
                <label class="label" for="textarea">Сообщение</label>
                <textarea class="message" name="textarea" id="textarea" required="" placeholder="Введите ваше сообщение"
                          v-model="message.text"
                          :maxlength="message.maxlength"></textarea>
                <span class="counter">{{ message.text.length }} / {{ message.maxlength }}</span>
              </div>

            </div>
          </div>
          <div class="d-flex justify-content-center py-4">
<!--            <input type="submit" value="Отправить">-->
            <purchaseButton >
              <template v-slot:purchase-button-link>
                <a type="submit" class="purchase-button-link">Отправить</a>
              </template>
            </purchaseButton>
          </div>

          <!--        <div>-->
          <!--          <h4>Features</h4>-->
          <!--          <ul class="vue-form-list">-->
          <!--            <li v-for="(feature, index) in features" :key="feature.id">-->
          <!--              <input type="checkbox"-->
          <!--                     :value="feature"-->
          <!--                     :id="'cb-feature-'+index"-->
          <!--                     v-model="selection.features">-->
          <!--              <label :for="'cb-feature-'+index">{{feature}}</label>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--              <input type="checkbox" id="checkbox-all" @click="checkAll">-->
          <!--              <label for="checkbox-all">Check All</label>-->
          <!--            </li>-->
          <!--          </ul>-->
          <!--        </div>-->

        </fieldset>
      </form>
    </div>

  </div>
</template>

<script>
// let emailRegExp = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;

import purchaseButton from "@/components/purchaseButton";
export default {
  name: "ContactForm",
  components: {
    purchaseButton
  },
  data: () => ({
    name: "",
    email: {
      value: "",
      valid: true
    },
    message: {
      text: ``,
      maxlength: 255
    },
    submitted: false
  }),
  methods: {
    // submit form handler
    submit: function() {
      this.submitted = true;
    },
    // validate by type and value
    // validate: function(type, value) {
    //   if (type === "email") {
    //     this.email.valid = this.isEmail(value);
    //   }
    // },
    // check for valid email adress
    // isEmail: function(value) {
    //   return emailRegExp.test(value);
    // },
    // check or uncheck all
    checkAll: function(event) {
      this.selection.features = event.target.checked ? this.features : [];
    }
  },
  watch: {
    // watching nested property
    "email.value": function(value) {
      this.validate("email", value);
    }
  }
}
</script>

<style scoped lang="scss">
#contact {
  padding: 80px 0;
  background: url("../assets/pattern-hex.svg") center top/35%, url("../assets/black_paper.png");
  .vue-form {
    font-size: 16px;
    //width: 500px;
    //padding: 15px 30px;
    border-radius: 4px;
    //margin: 50px auto;
    //border: 2px solid ;
    background: rgba(#121212, 0.75);
    //box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  }

  .vue-form fieldset {
    margin: 24px 0 0 0;
  }

  .vue-form legend {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(white, 0.25);
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
  }

  .vue-form h4,
  .vue-form .label {
    color: #CEA662;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .vue-form .label {
    display: block;
  }

  .vue-form input,
  .vue-form textarea,
  .vue-form select,
  .vue-form label {
    //color: #2b3e51;
  }

  .vue-form input[type="text"],
  .vue-form input[type="email"],
  .vue-form textarea,
  .vue-form select,
  .vue-form legend {
    display: block;
    width: 100%;
    appearance: none;
  }

  .vue-form input[type="text"],
  .vue-form input[type="email"],
  .vue-form textarea,
  .vue-form select {
    padding: 12px;
    border: 3px solid #CEA662;
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  }

  .vue-form input[type="text"]:focus,
  .vue-form input[type="email"]:focus,
  .vue-form textarea:focus,
  .vue-form select:focus {
    outline: none;
    border-color: #2c3e50;
    box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
  }

  .vue-form .select {
    position: relative;
  }

  .vue-form .select::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 50%;
    margin-top: -8px;
    display: block;
    width: 16px;
    height: 16px;
    background: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpolygon%20fill%3D%22%232c3e50%22%20points%3D%220.9%2C5.5%203.1%2C3.4%208%2C8.3%2012.9%2C3.4%2015.1%2C5.5%208%2C12.6%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E") no-repeat center center;
    pointer-events: none;
  }

  .vue-form select {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }

  .vue-form select::-ms-expand {
    display: none;
  }

  .vue-form .vue-form-list {
    margin-top: 16px;
  }

  .vue-form .vue-form-list::after {
    clear: both;
    content: "";
    display: table;
  }

  .vue-form .vue-form-list li {
    display: inline-block;
    position: relative;
    user-select: none;
    margin: 0 26px 16px 0;
    float: left;
  }

  .vue-form textarea {
    min-height: 120px;
    resize: vertical;
    overflow: auto;
  }

  .vue-form input[type="submit"] {
    border: none;
    background: #2c3e50;
    //border-radius: 0.25em;
    padding: 12px 20px;
    color: #ffffff;
    font-weight: bold;
    float: right;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    appearance: none;
  }

  .no-touch .vue-form input[type="submit"]:hover {
    background: #42a2e1;
  }

  .vue-form input[type="submit"]:focus {
    outline: none;
    //background: #2b3e51;
  }

  .vue-form input[type="submit"]:active {
    transform: scale(0.9);
  }

  .vue-form .error-message {
    height: 35px;
    margin: 0px;
  }

  .vue-form .error-message p {
    background: #e94b35;
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0.25em;
    padding: 16px;
  }

  .vue-form .error {
    border-color: #e94b35 !important;
  }

  .vue-form .counter {
    color: #2c3e50;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 10px;
    padding: 4px;
  }

  .debug {
    border-radius: 4px;
    margin: 50px auto;
    width: 500px;
    background-color: #000;
    padding: 50px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  }

  .debug pre {
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    white-space: pre-wrap;
  }

  @-webkit-keyframes cd-bounce {
    0%,
    100% {
      -webkit-transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.8);
    }
  }
  @-moz-keyframes cd-bounce {
    0%,
    100% {
      -moz-transform: scale(1);
    }
    50% {
      -moz-transform: scale(0.8);
    }
  }
  @keyframes cd-bounce {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
  }
}
</style>
