<template>
  <div id="delivery">
    <breadcrumbsComponent/>
    <section id="delivery-info">
      <div class="container mt-5 mb-5">
        <h2 class="head-title">Способы доставки Товаров:</h2>
        <h3 class="delivery-title">1. Доставка Почтой РФ</h3>
        <p>Доставка товара осуществляется по предоплате (Почта России, Почта России 1 класс, транспортные компании). Если Вы выбради оплату через менеджера магазина, то он свяжется с Вами, чтобы подтвердить заказ, и сообщит платежные инструкции для любого из выбранных Вами способов оплаты. Если СВы выбрали способ оплаты через банковскую карту, то стоимость доставки будет включена в стоимость заказа автоматически.</p>
        <p>Товар резервируется на срок до трех дней. Заказ отправляется в ближайший день почтовой отправки сразу после поступления оплаты. Пожалуйста, сохраняйте полученную в банке квитанцию до подтверждения нами факта поступления оплаты.</p>

        <p>При невозможности подтвердить заказ и/или отсутствии оплаты в течение трех дней резерв снимается. Если Вы хотите отменить заказ, пожалуйста, сделайте это по возможности быстрее.</p>

        <p>Стоимость почтовой доставки: рассчитывается автоматически для каждого заказа по тарифам Почты РФ. В зависимости от удаленности региона и требуемого способа доставки (авиа- или комбинированная почта) мы подберем для Вас наиболее выгодный тариф.</p>

        <h3 class="delivery-sub-title">Дополнительная информация о доставке Почтой России:</h3>
        <ul>
          <li>
            В зависимости от удаленности региона срок доставки по России составляет от 3-х дней до 4-х недель. В течение 2-3 рабочих дней после отправки Вам будет выслан номер почтового отправления. По этому номеру Вы сможете отследить путь своего почтового отправления на сайте Почты России.
          </li>
          <li>
            Во избежание недоразумений вскрывайте свою посылку сразу же при получении на почте в присутствии должностного лица. Сверьте наименования и количество доставленных товаров с накладной, вложенной в каждое отправление. В случае любого расхождения сотрудник почты должен составить Акт на расследование в 3-х экземплярах. Один экземпляр останется на почте, второй будет отправлен нам, третий получите Вы. Обязательно сообщите нам о произошедшем. Мы затребуем от почты возмещение убытков и вышлем Вам недостающие товары.
          </li>
        </ul>

        <h3 class="delivery-title">2. Самовывоз из пункта выдачи СДЭК</h3>

        <p>Сроки доставки до пункта выдачи заказов СДЭК составляют от 2 до 8 дней и будут зависеть от расположения Вашего населённого пункта. После прихода посылки в место назначения Вам поступит оповещение по SMS. Срок хранения заказа в пункте выдачи составляет 14 дней.</p>
        <p>При оформлении доставки в пункт выдачи СДЭК внимательно изучите места расположения пунктов выдачи и выберите тот, который вам наиболее удобен.</p>
        <p>Выбрать пункт выдачи, а также узнать его график работы вы сможете на карте СДЭК.</p>
        <p>Если Вам необходима доставка через компанию СДЭК, то вам необходимо в способах оплаты выбрать "Отправить заявку на оплату менеджеру". В ответном письме Вам будет выставлен счет с учетом стоимости доставки.</p>
        <p>Оператор магазина свяжется с Вами, чтобы подтвердить заказ, и сообщит платежные инструкции для любого из выбранных Вами способов оплаты.</p>
        <p>Стоимость доставки рассчитывается согласно тарифам службы доставки СДЭК ии зависит от расположения вашего населенного пункта, габаритов отправления и стоимости заказа.</p>
        <p>Минимальная сумма заказа при доставке в пункт выдачи СДЭК составляет 300 рублей (без стоимости доставки).</p>

        <h3 class="delivery-title">3. Курьерская доставка службой СДЭК</h3>
        <p>Вы можете оформить экспресс-доставку по России службой СДЭК. В зависимости от местонахождения Вашего населенного пункта, курьер доставит заказ по вашему адресу в течение 3-7 дней. Курьерская доставка службой СДЭК осуществляется по рабочим дням с 10:00 до 18:00.</p>
        <p>Отправка вашего заказа осуществляется только после его полной предоплаты. Оператор магазина свяжется с Вами, чтобы подтвердить заказ, и сообщит платежные инструкции для любого из выбранных Вами способов оплаты.</p>
        <p>Стоимость доставки рассчитывается согласно тарифам службы СДЭК и зависит от расположения вашего населенного пункта, габаритов отправления и стоимости заказа. При оформлении заказа и выборе данного способа доставки программа выведет стоимость доставки заказа по вашему адресу.</p>
        <p>Минимальная сумма заказа при доставке курьером службы СДЭК составляет 300 рублей (без стоимости доставки).</p>
        <h3 class="delivery-sub-title">Обязанность Продавца передать Товар Покупателю считается исполненной:</h3>
        <ul>
          <li>При доставке с использованием почтового отправления – в момент передачи Товара почтовому оператору и оформления соответствующей сопроводительной документации.</li>
          <li>Во избежание случаев мошенничества, при вручении предоплаченного Заказа лицо, осуществляющее доставку Заказа, вправе потребовать предъявить документ, удостоверяющий личность Покупателя или Получателя. Продавец гарантирует конфиденциальность и защиту персональных данных Покупателя и Получателя в соответствии с Положением о порядке хранения и защиты персональных данных.</li>
          <li>Обращаем Ваше внимание на то, что в настоящее время расчет стоимости доставки Почтой России и оплата приобретенного товара производится системой автоматически.</li>
          <li>Если Вы хотите использовать другого оператора доставки, то при оформлении заказа выбирайте способ оплаты "Отправить заявку на оплату менеджеру". Ваш заказ будет обработан в ручную. В этом случае выберите любой из предложенных системой вариантов доставки, но в комментарии напишите названии компании перевозчика, который Вам удобен.</li>
          <li>Просим обратить внимание, что сроки и условия доставки Товара определяются условиями работы службы доставки, выбираемой Покупателем при заполнении электронной формы Заказа на товар. Покупатель обязан самостоятельно ознакомиться с различными вариантами доставки Товара, предлагаемыми Продавцом, с целью выбора оптимального варианта.</li>
          <li>Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с момента, когда в соответствии с настоящим правилами Продавец считается исполнившим свою обязанность по передаче товара Покупателю.</li>
          <li>Доставленный Курьерской Службой доставки товар передается покупателю по указанному им в Заказе адресу, а при отсутствии покупателя - любому лицу, предъявившему квитанцию или иной документ, подтверждающий заключение договора или оформление доставки товара.</li>
        </ul>
      </div>
    </section>
  </div>

</template>

<script>
import breadcrumbsComponent from "@/components/BreadcrumbsComponent";
export default {
  name: "Delivery",
  components: {
    breadcrumbsComponent
  }
}
</script>

<style lang="scss" scoped>
  #delivery {
    padding: 116px 0 0;
    .head-title {
      font-size: 36px;
      font-family: TT Mussels, sans-serif;
      text-align: center;
      margin-bottom: 32px;
    }
    .delivery-title {
      margin: 24px 0;
      font-family: TT Mussels, sans-serif;
      font-size: 24px;
    }
    .delivery-sub-title {
      font-family: TT Mussels, sans-serif;
      font-size: 22px;
    }
    p {
      text-indent: 16px;
    }
    ul {
      margin: 16px 0;
      //list-style: none;
      list-style: square outside;
      li {
      }
    }
  }
</style>
