<template>
  <section id="navBtns-block">
    <div class="container d-flex flex-wrap justify-content-center justify-content-xxl-between align-content-center">
      <div class="outgo-btn" v-for="btn of navBtnsBlock_arr" :key="btn.id">
        <headButton class="m-1 m-md-3 m-xxl-0">
          <template v-slot:button-link>
            <a class="button-link" href="/"><img class="btn-dot" src="../assets/bbtn-dot.svg" alt="">{{btn.title}}</a>
          </template>
        </headButton>
      </div>
    </div>
  </section>
</template>

<script>
import headButton from "@/components/headButton";

export default {
  name: "ExternalNavBtns",
  components: {
    headButton
  },
  data: () => ({
    navBtnsBlock_arr: [
      {title: 'Рунотека'},
      {title: 'Руны'},
      {title: 'Рунопедия'},
      {title: 'Руниверситет'},
    ],
  })
}
</script>

<style lang="scss" scoped>
  //  buttons section
  #navBtns-block {
    background: url("../assets/pattern-wall.png");
    padding: 100px 0;
    .outgo-btn {
      @media screen and (max-width: 1200px) {
        margin-bottom: 12px;
      }
    }
  }
</style>
