<template>
  <footer>
    <div class="container">
      <div class="row row-cols-3 py-5 mb-3 border-bottom">
        <div class="col-12 col-lg-4">
          <div class="footLogo-side">
            <a href="/"><img src="../assets/foot-logo.png" class="img-fluid" alt="foot-logo"></a>
            <div class="icons-row my-5">
              <a v-for="item of socialIconsArr" :key="item.id">
                <i :class="item.uni"></i>
              </a>
            </div>
            <div class="contact-info">
              <div class="d-flex">
                <div class="title">Телефон:</div>
                <div class="desc">+7 (903) 725 48 65</div>
              </div>
              <div class="d-flex">
                <div class="title">Email:</div>
                <div class="desc">info@runodel.ru</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="row">
            <div class="col-6 col-md-6 mb-3 md-lg-0">
              <h5 class="nav-title">Магазин</h5>
              <ul class="nav flex-column">
                <li class="nav-item"><a href="#" class="nav-link">Корзина<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Личный кабинет<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Оформить заказ<span></span></a></li>
              </ul>
            </div>
            <div class="col-6 col-md-6 mb-3 md-lg-0">
              <h5 class="nav-title">Каталог</h5>
              <ul class="nav flex-column">
                <li class="nav-item"><a href="#" class="nav-link">Контакты<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Доставка и оплата<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Гарантии и возврат<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Новинки<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Распродажа<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Скоро в продаже<span></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="row">
            <div class="col-6 col-md-6 mb-3 md-lg-0">
              <h5 class="nav-title">Материалы</h5>
              <ul class="nav flex-column">
                <li class="nav-item"><a href="#" class="nav-link">Камень<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Дерево<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Металл<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Кожа<span></span></a></li>
              </ul>
            </div>
            <div class="col-6 col-md-6 mb-3 md-lg-0">
              <h5 class="nav-title">Компания</h5>
              <ul class="nav flex-column">
                <li class="nav-item"><a href="#" class="nav-link">Контакты<span></span></a><span></span></li>
                <li class="nav-item"><a href="#" class="nav-link">Доставка и оплата<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Гарантии и возврат<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Задать вопрос<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Реквизиты<span></span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Публичная оферта<span></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between text-center copyright-text pb-4 pb-md-1">
        <p class="text-center ">Рунодел © {{ new Date().getFullYear()}}. Все права защищены</p>
        <a href="/">Политика конфидециальности</a>
      </div>
    </div>
  </footer>
</template>

<script>


export default {
  name: "Footer",
  components: {

  },
  data() {
    return {
      socialIconsArr: [
        {uni: 'bi-meta'},
        {uni: 'bi-twitter'},
        {uni: 'bi-instagram'},
        {uni: 'bi-linkedin'},
      ]
    }
  }

}
</script>

<style lang="scss" scoped>
  footer {
    background: url("../assets/black_paper.png");
    .nav-title {
      color: white;
      text-transform: uppercase;
      font-size: 15px;
      padding: 0.25rem 0.5rem;
    }
    .nav {
      .nav-item {
        .nav-link {
          position: relative;
          color: rgba(white, 0.75);
          padding: 0.25rem 0.5rem;
          font-size: 15px;
          //&:hover {
          //  border-bottom: 1px solid #E3C679;
          //  margin-bottom: -1;
          //}
          span {
            position: absolute;
            display: inline-block;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background: #E3C679;
            transition: all 0.25s;
          }
          &:hover {
            color: #E3C679;
            span {
              width: 15%;
            }
          }
        }
      }
    }
    .footLogo-side {
      padding: 0.25rem 0.5rem;
      .icons-row {
        a {
          padding: 10px;
          border-radius: 4px;
          background: rgba(#F3F2EE, 0.1);
          color: #E3C679;
          margin-right: 10px;
          cursor: pointer;
          -webkit-transition: all 0.1s ease-in-out;
          //transition: transform 0.35s;
          &:hover {
            border-bottom: 1px solid #E3C679;
            box-shadow: 0 7px 11px rgba(#E3C679, 0.25);
          }
        }
      }
    }

    .contact-info {
      color: rgba(white, 0.75);
      margin-bottom: 50px;
      .title {
        margin-right: 10px;
        font-weight: bold;
        font-size: 15px;
      }
      .desc {
        font-size: 15px;
      }
    }

    .border-bottom {
      border-bottom: 1px solid rgba(#ffffff, 0.15)  !important;
    }

    .copyright-text {
      color: rgba(white, 0.75);
      font-size: 15px;
      a {
        color: rgba(white, 0.75);
      }
    }
  }
</style>
