<template>
  <button class="headBtn">
    <slot name="button-link"></slot>
  </button>
</template>

<script>
export default {
  name: "headButton"
}
</script>

<style lang="scss" scoped>
  .headBtn {
    position: relative;
    font-family: "KellySlab", serif;
    /* identical to box height, or 167% */
    text-align: center;
    background: transparent;
    border: none;
    background: url("../assets/bbtn.svg") no-repeat center/100%;
    width: 300px; height: 86px;
    color: #FFFFFF;

    .button-link {
      display: flex;
      justify-content: center;
      font-size: 1.5em;
      font-style: normal;
      font-weight: normal;

      color: white;
      //text-transform: uppercase;
      text-decoration: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      text-align: center;
      .btn-dot {
        //display: flex;
        margin-right: 10px;
        width: 15px;
      }

    }

    &:hover {
      background: url("../assets/bbtn-hover.svg") no-repeat center/100%;
    }
    &:active {
      background: url("../assets/bbtn-tap.svg") no-repeat center/100%;
    }
    @media screen and (max-width: 992px) {
      width: 150px; height: 44px;
      .button-link {
        font-size: 18px;
      }
    }
  }
</style>
