<template>
  <header class="header" :class="{ change_color: scrollPosition > 50 || toggleSelected}">
    <nav class="navbar navbar-expand-lg navbar-dark py-3 py-md-3" id="mNavbar">
      <div class="container">
<!--        <div class="d-flex d-lg-none"><img src="../assets/head-logo-head-logo-symbol.png" class="img-fluid" alt="head-logo-symbol"></div>-->
        <div class="d-none d-lg-flex flex-column align-md-items-start head-left-side">
          <div class="top-head d-flex">
            <ul class="navbar-nav">
              <li class="nav-item">
                <router-link to="/about" class="nav-link">О нас | Контакты<span></span></router-link>
              </li>
              <li class="nav-item">
                <router-link to="/delivery" class="nav-link">Доставка | Оплата<span></span></router-link>
              </li>
            </ul>
          </div>
          <div class="bottom-head d-flex">
            <ul class="navbar-nav">
              <li class="nav-item">
                <router-link to="/catalog/arrivals" class="nav-link">Новинки<span></span></router-link>
              </li>
              <li class="nav-item">
                <router-link to="/catalog" class="nav-link">Каталог</router-link>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><span class="d-none d-xl-inline-block">Рунные</span> наборы</a>
              </li>
            </ul>
          </div>
        </div>
        <router-link to="/runodel" class="d-flex align-items-center flex-lg-column px-1 head-logo">
          <img src="../assets/head-logo-symbol.png" width="40" height="40" class="d-inline-block align-text-top img-fluid mb-0 mb-lg-1 mx-2 mx-lg-0" alt="head-logo-symbol">
          <img src="../assets/head-logo.png" width="274" height="40" class="d-inline-block align-text-top img-fluid" alt="head-logo">
        </router-link>
        <div class="d-none d-lg-flex flex-column align-items-md-end head-right-side">
          <div class="top-head d-flex ">
            <ul class="navbar-nav">
              <li class="nav-item">
                <router-link to="/register" class="nav-link">Войти<img src="../assets/signin-icon.png" class="img-fluid" alt="sign-in"><span></span></router-link>
              </li>
              <li class="nav-item">
                <router-link to="/cart" class="nav-link">Корзина<img src="../assets/shop-icon.png" class="img-fluid" alt="shop-icon"> {{CART.length}}<span></span></router-link>
              </li>
            </ul>
          </div>
          <div class="bottom-head d-flex justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#"><span class="d-none d-xl-inline-block">Рунные</span> запясты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Камень<span></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Металл<span></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Дерево<span></span></a>
              </li>
            </ul>
          </div>
        </div>
        <button class="navbar-toggler second-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <div class="animated-icon" :class="{open: toggleSelected === true}" v-on:click.prevent="updateToggle"><span></span><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse p-4" id="navbarToggler">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <router-link to="/catalog" class="nav-link">Каталог</router-link>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item">
              <router-link to="/about" class="nav-link">О нас | Контакты<span></span></router-link>
            </li>
            <li class="nav-item">
              <router-link to="/delivery" class="nav-link">Доставка | Оплата</router-link>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mt-4">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Войти<img src="../assets/signin-icon.png" class="img-fluid mx-2" alt="sign-in"><span></span></a>
            </li>
            <li class="nav-item">
              <router-link to="/cart" class="nav-link">Корзина<img src="../assets/shop-icon.png" class="img-fluid mx-2" alt="shop-icon"><span></span></router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>

import {mapGetters} from "vuex";

export default {
  name: "Header",
  data() {
    return {
      scrollPosition: null,
      toggleSelected: null
    }
  },
  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY
    },
    updateToggle() {
      this.toggleSelected = !this.toggleSelected;
    },
  },
  computed: {
    ...mapGetters([
      'CART'
    ])
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll)
    // document.querySelector('.animated-icon').addEventListener('click', this.updateToggle);
  },

}
</script>

<style lang="scss" scoped>
  header {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateZ(0);
    transition: box-shadow .2s ease,background .2s ease;
    width: 100%;
    z-index: 99;
    background: black;
    &.change_color {
      background: rgba(black, 0.95) !important;
    }
    .navbar {
      .nav-link {
        color: white;
        &.router-link-active {
          color: #E3C679;
        }
      }
      .top-head {
        font-size: 12px;
        text-transform: uppercase;
        .nav-item {
          cursor: pointer;
        }
      }
      .bottom-head {
        font-weight: 600;
        font-size: 15px;
        border-top: 1px solid rgba(white, 0.3);
        text-transform: uppercase;
      }

      .head-left-side {
        width: 35%;
        .top-head {
          padding-bottom: 10px;
          .nav-link {
            padding: 5px 40px 5px 0;
            position: relative;
            span {
              position: absolute;
              display: inline-flex;
              bottom: 0;
              left: 0;
              width: 0;
              height: 1px;
              background: #E3C679;
              transition: all 0.35s;
            }
            &:hover {
              color: #E3C679;
              span {
                width: 50%;
              }
            }
          }
        }
        .bottom-head {
          a {
            padding: 15px 20px 5px 0;
            &:hover {
              color: #E3C679;
            }
          }
        }
      }
      .head-right-side {
        width: 35%;
        .top-head {
          padding-bottom: 10px;
          a {
            padding: 5px 0 5px 40px;
            position: relative;
            img {
              vertical-align: top;
              margin-left: 8px;
            }
            span {
              position: absolute;
              display: inline-flex;
              bottom: 0;
              right: 0;
              width: 0;
              height: 1px;
              background: #E3C679;
              transition: all 0.25s;
            }
            &:hover {
              color: #E3C679;
              span {
                width: 50%;
              }
            }
          }
        }
        .bottom-head {
          width: 100%;
          justify-content: end;
          a {
            padding: 15px 0 5px 20px;
            &:hover {
              color: #E3C679;
            }
          }
        }
      }

      .head-logo {
        //flex-basis: 400px;
        //width: 200px;
        //:nth-child(1) {
        //  margin-bottom: 10px;
        //}
      }
    }
    @media screen and (max-width: 1400px) {
      .head-left-side {
        //flex-grow: 2 !important;
        .top-head {
          a {
            padding: 5px 20px 5px 0 !important;
          }
        }
        .bottom-head {
          a {
            padding: 15px 15px 5px 0 !important;
          }
        }
      }
      .head-right-side {
        //flex-grow: 2 !important;
        .top-head {
          a {
            padding: 5px 0 5px 20px !important;
          }
        }
        .bottom-head {
          a {
            padding: 15px 0 5px 15px !important;
          }
        }
      }
      .head-logo {
        //flex-grow: 1;
      }
    }
    @media screen and (min-width: 1120px) and (max-width: 1439px) {
      .head-logo {
        justify-content: center;
        text-align: center;
      }
    }
    @media screen and (max-width: 992px) {
      .head-logo {
        width: 60%;
      }
    }
    @media (min-width: 992px) {
      .navbar-expand-lg .navbar-collapse {
        display: none !important;
        flex-basis: auto;
      }
    }


    .navbar-toggler {
      border: none;
      box-shadow: none;
      &:focus {
        box-shadow: none;
      }
      .animated-icon {
        width: 38px;
        height: 24px;
        position: relative;
        margin: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        cursor: pointer;

        span {
          background: linear-gradient(135deg, #CEA662 60%, #583C0D);
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: top .2s .3s,transform .2s;
          -moz-transition: top .2s .3s,transform .2s;
          -o-transition: top .2s .3s,transform .2s;
          transition: top .2s .3s,transform .2s;
          &:nth-child(1) {
            top: 0;
            width: 85%;
          }
          &:nth-child(2), &:nth-child(3) {
            top: 10px;
            width: 60%;
          }
          &:nth-child(4) {
            top: 20px;
          }
        }
        &.open {
          span {
            padding-left: 0;
            background: linear-gradient(135deg, #CEA662 60%, #583C0D);
            &:nth-child(1) {
              top: 11px;
              width: 0;
              left: 50%;
            }
            &:nth-child(2) {
              //border-bottom: 5px dotted #fff;
              width: 100%;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }
            &:nth-child(3) {
              //border-bottom: 5px dotted #fff;
              width: 100%;
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
            &:nth-child(4) {
              top: 11px;
              width: 0;
              left: 50%;
            }
          }
        }
        &:hover {
          span {
            width: 100%;
          }
        }
      }
    }
  }
</style>
