<template>
  <div id="home-page">
    <section id="head-block">
      <carousel :per-page="1" :mouse-drag="false" :autoplay="true" :loop="true" :autoplayTimeout="5000" :navigationEnabled="true">
        <slide v-for="item of headCaroousel_slides" :key="item.id">
          <div class="row flex-column-reverse flex-lg-row justify-content-center align-items-center">
            <div class="col-10 col-lg-4 text-center text-lg-start">
              <div class="head-title">Набор рун из камня под заказ</div>
              <div class="head-desc mb-3 mb-lg-5">Уникальный подарочный набор 25 рун из латуни и натурального камня серпентинита в шкатулке из сосны. Руны изготовлены полностью вручную: вытравлены на латуни и частично зачернены с созданием эффекта старины.</div>
              <router-link to="/catalog/item" style="text-decoration: none">
                <headButton>
                  <template v-slot:button-link>
                    <a class="button-link" href="/">Купить набор</a>
                  </template>
                </headButton>
              </router-link>
            </div>
            <div class="col-5 col-md-5 col-lg-5 col-xl-4 col-xxl-3">
              <div class="carousel-rightSide text-center">
                <img src="../assets/carousel-item-1.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </slide>
      </carousel>
    </section>
    <section id="product-block" class="my-5">
      <div class="container">
        <img class="snowflake-icon img-fluid" src=../assets/snowflake-final-2.png alt="">
        <ul class="hex-grid__list">
          <li class="hex-grid__item" v-for="(item, index) in hexos_arr" v-bind:key="item.id">
            <div class="hex-grid__content">
<!--              <img src="../assets/img.png"/>-->
              <div class="hex-innerImage" :style="`background: url(${require(`@/assets/hex-images/hex-item-${index+1}.png`)}) no-repeat center/94%, url(${require(`@/assets/inner-shadow.png`)}) no-repeat center/96%`"></div>
              <button class="btn hex-btn"><span>{{ item.title }}</span></button>
            </div>
          </li>
        </ul>
        <div class="d-flex justify-content-center">
          <div class="my-5">
            <headButton>
              <template v-slot:button-link>
                <router-link to="/catalog" class="button-link d-none d-lg-block" style="text-decoration: none">Перейти в магазин</router-link>
                <router-link to="/catalog" class="button-link d-block d-lg-none" style="text-decoration: none">В магазин</router-link>
              </template>
            </headButton>
          </div>
        </div>
      </div>
    </section>
    <suggestionCarousel></suggestionCarousel>
    <externalNavBtns></externalNavBtns>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import headButton from "@/components/headButton";
import suggestionCarousel from "@/components/SuggestionCarousel";
import externalNavBtns from "@/components/ExternalNavBtns";

export default {
  name: "HomePage",
  components: {
    Carousel,
    Slide,
    headButton,
    suggestionCarousel,
    externalNavBtns
  },
  data() {
    return {
      hexos_count: 24,
      hexos_arr: [
        {title: 'Руны из камня', url: ''},
        {title: 'Руны из дерева', url: ''},
        {title: 'Руны из металла', url: ''},
        {title: 'Подвески', url: ''},
        {title: 'Кольца', url: ''},
        {title: 'Кулоны', url: ''},
        {title: 'Браслеты', url: ''},
        {title: 'Броши', url: ''},
        {title: 'Заколки', url: ''},
        {title: 'Серьги', url: ''},
        {title: 'Часы', url: ''},
        {title: 'Брелоки', url: ''},
        {title: 'Шевроны', url: ''},
        {title: 'Пледы', url: ''},
        {title: 'Чехлы', url: ''},
        {title: 'Кошельки', url: ''},
        {title: 'Маски', url: ''},
        {title: 'Скатерти', url: ''},
        {title: 'Наклейки', url: ''},
        {title: 'Подставки', url: ''},
        {title: 'Значки', url: ''},
        {title: 'Обложки', url: ''},
        {title: 'Ремни', url: ''},
        {title: 'Ковры', url: ''},
      ],
      headCaroousel_slides: 4,
    }
  },
  mounted() {

  },
  methods: {

  }
}
</script>

<style lang="scss">
  #home-page {
    background: url("../assets/pattern-wall.png") repeat center center;
  }
  #product-block {

  }

  #head-block {
    //padding: 50px;
    //min-height: 500px;
    background: url("../assets/banner-bg-smoke.png") no-repeat center bottom, black;
    background-size: cover;
    padding: 180px 0 84px;
    .VueCarousel {
      .head-title {
        font-weight: normal;
        font-size: 64px;
        line-height: 68px;
        font-family: KellySlab, serif;
        color: white;
        margin-bottom: 20px;
      }
      .head-desc {
        font-size: 15px;
        line-height: 24px;
        color: white;
      }
      .carousel-rightSide {
        background: url("../assets/carousel-head-hex.png") no-repeat center/100%;
      }
      .VueCarousel-inner {
        //transform: translate(0px, -100%) !important;
        //transition: transform 0.5s ease 0s;

      }
      .VueCarousel-navigation {
        position: absolute;
        width: 100%;
        top: calc(50% - 90px);
        .VueCarousel-navigation-button {
          transform: none;
          height: 100px; width: 50px;
          color: transparent;
          &:focus {
            box-shadow: none;
            outline: none;
          }
          //content: '' !important;
          &.VueCarousel-navigation-prev {
            left: 7%; top: 50%;
            background: url("../assets/arr-left.png") no-repeat center;
          }
          &.VueCarousel-navigation-next {
            right: 7%; top: 50%;
            background: url("../assets/arr-right.png") no-repeat center;
          }
        }
      }
      .VueCarousel-pagination {
        .VueCarousel-dot {
          border-radius: 0;
          padding: 14px 16px !important;
          //background-color: #121212 !important;
          background: url("../assets/carousel-dot.png") no-repeat center, transparent !important;
          &:focus {outline: none;}
          &--active {
            background: url("../assets/carousel-dot-active.png") no-repeat center, url("../assets/carousel-dot-active-frame.png") no-repeat center, transparent !important;
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      padding: 100px 0 40px;
      .VueCarousel {
        .head-title {
          font-weight: normal;
          font-size: 32px;
          line-height: 34px;
          font-family: KellySlab, serif;
          color: white;
          margin-bottom: 20px;
        }

        .head-desc {
          font-size: 15px;
          line-height: 24px;
          color: white;
        }
        .carousel-rightSide {
          background: url("../assets/carousel-head-hex.png") no-repeat center/100%;
          margin-bottom: 50px;
          //width: 50%;
        }
        .VueCarousel-navigation {
          .VueCarousel-navigation-button {
            display: none;
          }
        }
        .VueCarousel-pagination {
          .VueCarousel-dot-container {
            margin-top: 10px !important;
          }
          .VueCarousel-dot {
            border-radius: 0;
            padding: 8px 10px !important;
            background: url("../assets/carousel-dot.png") no-repeat center/25%, transparent !important;
            &--active {
              background: url("../assets/carousel-dot-active.png") no-repeat center/25%, url("../assets/carousel-dot-active-frame.png") no-repeat center/100%, transparent !important;
            }
          }
        }
      }
    }
  }
  .snowflake-icon {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    @media screen and (max-width: 992px) {
      text-align: right;
      //right: 12px;
      margin-right: 30%;
      transform: translateX(50%);
      width: 20%;
    }
  }

  $block: '.hex-grid';

  @mixin grid-item($amount) {
    @for $i from 1 through $amount {
      &:nth-of-type(#{$amount}n + #{$i}) {
        grid-column: #{$i + $i - 1} / span 3;
        @if $i % 2 == 1 {
          grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
        }
      }
    }

    @for $i from 1 through 20 {
      &:nth-of-type(n + #{$i * $amount + 1}) {
        --counter: #{$i + 1};
      }
    }
  }

  #{$block} {
    display: flex;
    justify-content: center;

    &__list {
      --amount: 3;
      position: relative;
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(var(--amount), 1fr 2fr) 1fr;
      grid-gap: 0.5rem 1rem;
    }

    &__item {
      position: relative;
      grid-column: 1 / span 3;
      grid-row: calc(var(--counter) + var(--counter)) / span 2;
      //filter: drop-shadow(0 0 10px rgba(#444, .08));
      height: 0;
      padding-bottom: 90%;
      transition: transform 0.35s;
      //animation: all .2s ease-in-out;
      //animation: do-levitation-back 0.15s alternate ease-out;
      //-webkit-animation: do-levitation-back 0.15s alternate ease-out;
      &:hover {
        //animation: do-levitation 0.75s alternate ease-in-out infinite;
        //-webkit-animation: do-levitation 0.75s alternate ease-in-out infinite;
        transform: translateY(-10px);
        //filter: drop-shadow(0 10px 20px rgba(#121212, 0.25));
        //animation-delay: 0.5s;
      }
      &:nth-child(1) {
        .hex-grid__content {
          background: url("../assets/stone-texture.png") no-repeat center/92%;
        }
      }
      &:nth-child(2) {
        .hex-grid__content  {
          background: url("../assets/wood-texture.png") no-repeat center/92%;
        }
      }
      &:nth-child(3) {
        .hex-grid__content  {
          background: url("../assets/metall-texture.png") no-repeat center/92%;
        }
      }
    }

    @keyframes do-levitation {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-12px);
      }
    }
    @keyframes do-levitation-back {
      0% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(0);
      }
    }

    &__content {
      position: absolute;
      height: 100%;
      width: 100%;
      font-size: 1.125rem;
      color: #111111;
      background: url("../assets/maskGroup.png") no-repeat center/92%;
      //background-size: cover;
      clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10%;
      text-decoration: none;
      text-align: center;
      transition: transform .24s ease-out;
      //overflow: hidden;

      .hex-innerImage {
        //background-size: cover;
        display: flex;
        width: 100%; height: 100%;

        //opacity: 0.6;
        //background: url("../assets/img.png") no-repeat center/98%;
      }
      .hex-btn {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        width: 70%; height: 72px;
        color: white;
        font-family: KellySlab, serif;
        //display: flex;
        //justify-content: center;
        font-size: 2rem;
        background: url("../assets/btn-hex.png") no-repeat center/100%;
        &:hover {
          background: url("../assets/btn-hex-hover.png") no-repeat center/100%;
          color: white;
        }
        &:active {
          background: url("../assets/btn-hex-tap.png") no-repeat center/100%;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }

  }

  @media screen and (min-width: 1440px) {
    #{$block} {
      &__list {
        --amount: 3;
        --counter: 1;
      }

      &__item {
        @include grid-item(3);

      }
    }
  }

  @media screen and (min-width: 1120px) and (max-width: 1439px) {
    #{$block} {
      &__list {
        --amount: 3;
        --counter: 1;
      }

      &__item {
        @include grid-item(3);
        .hex-btn {
          font-size: 1.75rem;
        }
      }
    }
  }

  @media screen and (min-width: 840px) and (max-width: 1119px) {
    #{$block} {
      &__list {
        --amount: 3;
        --counter: 1;
        grid-gap: 1.5rem 3rem;
      }

      &__item {
        @include grid-item(3);
        .hex-btn {
          font-size: 1.25rem;
        }
      }
    }
  }

  @media screen and (min-width: 480px) and (max-width: 839px) {
    #{$block} {
      &__list {
        --amount: 2;
        --counter: 1;
        grid-gap: 0;
      }

      &__item {
        @include grid-item(2);
        .hex-btn {
          font-size: 1.2rem;
        }
      }
    }
  }

  @media screen and (max-width: 479px) {
    #{$block} {
      &__list {
        --amount: 2;
        --counter: 1;
        grid-gap: 0;
      }

      &__item {
        @include grid-item(2);
        .hex-btn {
          font-size: 0.75rem;
        }
      }
    }
  }

</style>
