<template>
  <div id="newArrivals">
    <breadcrumbsComponent/>
  </div>
</template>

<script>
import breadcrumbsComponent from "@/components/BreadcrumbsComponent";
export default {
  name: "NewArrivals",
  components: {
    breadcrumbsComponent
  }
}
</script>

<style lang="scss" scoped>
  #newArrivals {
    padding: 116px 0 0;
  }
</style>
