<template>
  <div class="notfound-block">
    <h1>404</h1>
    <span>Страница не найдена</span>
  </div>
</template>

<script>
export default {
  name: "NotFound"
}
</script>

<style lang="scss" scoped>
  .notfound-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30vh 0;
    font-family: "KellySlab", serif;
    background: url("../assets/pattern-hex-2.svg") repeat center center/35%, url("../assets/pattern-wall.png");
    h1 {
      font-size: 7.5em;
    }
    span {
      font-size: 2.5em;
    }
  }
</style>
