<template>
  <div id="product-page">
    <div class="container">
      <Breadcrumbs/>
<!--      <div class="d-flex breadcrumbs-wrapper">-->
<!--        <nav aria-label="breadcrumb">-->
<!--          <ol class="breadcrumb">-->
<!--            <li class="breadcrumb-item"><index-link to="/" style="color: initial">Главная</index-link></li>-->
<!--            <li class="breadcrumb-item active" aria-current="page">Кольца</li>-->
<!--            <li class="breadcrumb-item active" aria-current="page">Кольца с рунами</li>-->
<!--          </ol>-->
<!--        </nav>-->
<!--      </div>-->
      <div class="row product-row">
        <div class="col-12 col-lg-6 product-leftSide">
          <carousel :per-page="1" :mouse-drag="false" :autoplay="true" :loop="true" :autoplayTimeout="5000" :navigationEnabled="true">
            <slide v-for="item of prodCaroousel_slides" :key="item.id">
              <div class="row justify-content-center align-items-center align-content-center">
                <div class="col-12 col-md-12">
                  <div class="img-wrapper text-center">
                    <img class="background-hex img-fluid" :style="{ backgroundImage: 'url(' + product.img + ')', backgroundRepeat: 'no-repeat', backgroundPosition: 'center', backgroundSize: '100%' }" src="../assets/product-page/bg-hex.png" alt="">
                    <!--                    <img :src="product.img" class="img-fluid" alt="">-->
                  </div>
                </div>

              </div>
            </slide>
          </carousel>
        </div>
        <div class="col-12 col-lg-6 product-rightSide">
            <div class="product-title">
              <h1>{{product.title}}</h1>
            </div>
            <div class="product-info-first-block d-flex align-content-center justify-content-between">
                <div v-if="product.availability" class="available-block"><img src="../assets/check-icon.png" class="img-fluid mx-2" alt="check-icon"><span class="green">В наличии</span></div>
                <div v-else class="available-block"><img src="../assets/error-icon.png" class="img-fluid mx-2" alt="check-icon"><span class="red">Нет в наличии</span></div>
                <div class="product-code"><p>{{product.sku}}</p></div>
            </div>
          <div class="product-icons-row d-flex flex-wrap justify-content-between">
            <div class="rating-block d-flex">
              <img v-for="item of product.rating" :key="item.id" src="../assets/catalog-page/star-icon.svg" alt="star">
              <span class="mx-2">{{ product.rating }}.0</span>
            </div>
            <div class="reviews-block m-2 m-md-0">
              <img src="../assets/product-page/reviews-icon.svg" class="img-fluid" alt="reviews-icon">
              <span class="mx-2 desc-text">8 отзывов</span>
            </div>
            <div class="reviews-block m-2 m-md-0">
              <img src="../assets/product-page/like-icon.svg" class="img-fluid" alt="like-icon">
              <span class="mx-2 desc-text">В избранное</span>
            </div>
            <div class="reviews-block m-2 m-md-0">
              <img src="../assets/product-page/share-icon.svg" class="img-fluid" alt="share-icon">
              <span class="mx-2 desc-text">Поделиться</span>
            </div>
          </div>
          <div class="price-details d-flex">
            <div class="price-side"><span>{{product.price}}</span>₽</div>
            <div class="price-desc-side">
              <div><img src="../assets/product-page/delivery-icon.svg" alt="delivery-icon"><span>БЕСПЛАТНАЯ</span> доставка Почтой России!</div>
              <div><img src="../assets/product-page/calendar-icon.svg" alt="delivery-icon">Доставка от <span>24 дней</span></div>
            </div>
          </div>
          <div class="product-buttons-block d-flex flex-column flex-lg-row">
<!--            <headButton>-->
<!--              <template v-slot:button-link>-->
<!--                <a class="button-link" href="#">Добавить в корзину</a>-->
<!--              </template>-->
<!--            </headButton>-->
            <button class="btn-buy mb-2 mb-lg-0" type="button"></button>
            <quantityButton/>
<!--            <button class="btn-count" type="button"></button>-->
          </div>
          <div class="product-tabs">
            <div class="product-tabs__nav">
              <div class="product-tabs__nav_tab"
                   v-for="(item, index) in items"
                   :key="item.id"
                   :class="[index === active ? 'product-tabs__nav_tab--active' : '']"
                   @click="activate(index)">{{item.tab_name}}</div>
            </div>
            <div class="product-tabs__content" v-html="tabs_content"></div>
          </div>
        </div>
      </div>
    </div>
    <suggestionCarousel></suggestionCarousel>
    <externalNavBtns></externalNavBtns>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import suggestionCarousel from "@/components/SuggestionCarousel";
import quantityButton from "@/components/quantityButton";
import externalNavBtns from "@/components/ExternalNavBtns";

export default {
  components: {
    Carousel,
    Slide,
    suggestionCarousel,
    quantityButton,
    externalNavBtns
  },
  data() {
    return {
      product: null,
      prodCaroousel_slides: 3,
      active: 0,
      items: [
        {
          tab_name: 'Описание',
          tab_content:
              '<div class="d-flex align-content-center align-items-center mb-2">' +
                '<strong>Материал:</strong>' +
                '<div class="mx-2">Серебро 925 с чернением Плотность 10,36 (г/см3)</div>' +
              '</div>' +
              '<div class="d-flex align-content-center align-items-center">' +
                '<strong>Ширина:</strong>' +
                '<div class="mx-2">7 мм</div>' +
              '</div>' +
              '<div class="d-flex align-content-center align-items-center mb-2">' +
                '<strong>Вес:</strong>' +
                '<div class="mx-2">5-7 грамм</div>' +
              '</div>' +
              '<div>Вес кольца 5-7 грамм, зависит от размера, свой размер вы можете указать при заказе, в графе "Примечание к заказу" или по телефону. Вес кольца 5-7 грамм, зависит от размера, свой размер вы можете указать при заказе, в графе "Примечание к заказу" или по телефону.</div>'
        },
        {tab_name: 'Характеристики', tab_content:
              '<strong>Характеристики</strong>' +
              '<div>Вес кольца 5-7 грамм, зависит от размера, свой размер вы можете указать при заказе, в графе "Примечание к заказу" или по телефону. Вес кольца 5-7 грамм, зависит от размера, свой размер вы можете указать при заказе, в графе "Примечание к заказу" или по телефону.</div>'
        },
        {tab_name: 'Отзывы', tab_content:
              '<div class="d-flex align-content-center align-items-center mb-2">' +
                '<div style="width: 20px; height: 20px; border-radius: 10px; background: grey; margin-right: 5px"></div>' +
                '<strong>Игорь:</strong>' +
                '<div class="mx-2">Прекрасное качество изготовления!</div>' +
              '</div>' +
              '<div class="d-flex align-content-center align-items-center mb-2">' +
                '<div style="width: 20px; height: 20px; border-radius: 10px; background: grey; margin-right: 5px"></div>' +
                '<strong>Светлана:</strong>' +
                '<div class="mx-2">Отлично смотрится, подошло по размеру</div>' +
              '</div>'
        },
        {tab_name: 'Сертификаты', tab_content:
              '<div class="d-flex align-content-center align-items-center mt-2">' +
                '<div style="width: 80px; height: 120px; border-radius: 7px; background: grey; margin-right: 20px"></div>' +
                '<div style="width: 80px; height: 120px; border-radius: 7px; background: grey; margin-right: 20px"></div>' +
                '<div style="width: 80px; height: 120px; border-radius: 7px; background: grey; margin-right: 20px"></div>' +
              '</div>'
        },
      ],
      navBtnsBlock_arr: [
        {title: 'Рунотека'},
        {title: 'Руны'},
        {title: 'Рунопедия'},
        {title: 'Руниверситет'},
      ],
    }
  },
  computed: {
    tabs_content () {
      return this.items[this.active].tab_content
    }
  },
  methods: {
    activate (index) {
      this.active = index
    }
  },
  created() {
    let id = this.$route.params.id;
    this.product = this.$store.getters.getProduct(id);
  }
}
</script>

<style lang="scss" >
  #product-page {
    padding: 160px 0 0;
    .product-row {
      padding: 20px 0 150px;
      //align-items: center;
    }
    .product-leftSide {
      .VueCarousel {
        .head-title {
          font-weight: normal;
          font-size: 64px;
          line-height: 68px;
          font-family: KellySlab, serif;
          color: white;
          margin-bottom: 20px;
        }
        .head-desc {
          font-size: 15px;
          line-height: 24px;
          color: white;
        }
        .img-wrapper {
          //background: url("../assets/product-page/bg-hex.png") no-repeat center/100%;
          //height: 480px;
          //display: flex;
          img {
            vertical-align: center;
            //padding: 10%;
          }
        }
        //.carousel-rightSide {
        //  background: url("../assets/carousel-head-hex.png") no-repeat center/100%;
        //}
        .VueCarousel-inner {
          //transform: translate(0px, -100%) !important;
          //transition: transform 0.5s ease 0s;

        }
        .VueCarousel-navigation {
          position: absolute;
          width: 100%;
          top: calc( 75% - 7px);
          .VueCarousel-navigation-button {
            //transform: none;
            transform: translateY(50%);
            height: 100px; width: 50px;
            color: transparent;
            &:focus {
              box-shadow: none;
              outline: none;
            }
            //content: '' !important;
            &.VueCarousel-navigation-prev {
              left: 5%; top: 70%;
              background: url("../assets/product-page/prod-left-arrow.png") no-repeat center;
            }
            &.VueCarousel-navigation-next {
              right: 5%; top: 70%;
              background: url("../assets/product-page/prod-right-arrow.png") no-repeat center;
            }
          }
        }
        .VueCarousel-pagination {
          .VueCarousel-dot {
            border-radius: 0;
            padding: 60px 70px !important;
            //background-color: #121212 !important;
            background: url("../assets/product-page/hex-small-item-1.png") no-repeat center/100%, transparent !important;
            &:focus {outline: none;}
            &--active {
              background: url("../assets/product-page/hex-small-1_shadow.png") no-repeat center/100%, transparent !important;
            }
          }
        }
      }
    }
    .product-rightSide {
      .product-title {
        h1 {
          font-family: KellySlab, serif;
          font-size: 48px;
          line-height: 52px;
          margin-bottom: 28px;
        }
      }
      .product-info-first-block {
        margin-bottom: 12px;
        .available-block {
          span {
            &.green {color: #5AA013}
            &.red {color: #FF0000}
          }
        }
        .product-code {
          font-size: 15px;
          line-height: 18px;
          opacity: 0.5;
        }
      }
      .product-icons-row {
        margin-bottom: 50px;
        .rating-block {
          img {
            margin-right: 4px;
          }
        }
        .reviews-block {
          img {
            cursor: pointer;
          }
          .desc-text {
            font-size: 15px;
            line-height: 18px;
            opacity: 0.5;
          }
        }

      }
      .price-details {
        margin-bottom: 44px;
        .price-side {
          margin-right: 30px;
          font-size: 56px;
          line-height: 48px;
          span {
            font-weight: bold;
            margin-right: 4px;
          }
        }
        .price-desc-side {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 15px;
          img {
            margin-right: 10px;
          }
          span {
            font-weight: bold;
          }
        }
      }
      .product-buttons-block {
        margin-bottom: 30px;
        .btn-buy {
          width: 307px; height: 64px;
          border: none;
          background: url("../assets/product-page/btt-cart.png") no-repeat center/100%;
          &:hover {
            background: url("../assets/product-page/btt-cart-hover.png") no-repeat center/100%;
          }
          &:active {
            background: url("../assets/product-page/btt-cart-tap.png") no-repeat center/100%;
          }
        }
        .btn-count {
          width: 170px; height: 60px;
          border: none;
          background: url("../assets/product-page/count-btt.png") no-repeat center/100%;
        }
      }
    }
    .product-tabs {
      //background: salmon;
      //padding: 1rem;
      &__nav {
        display: flex;
        border-bottom: 1px solid #E5E5E5;
        &_tab {
          padding: 1rem;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 15px;
          line-height: 18px;
          transition: 0.15s ease-in all;
          border-bottom: 2px solid transparent;
          margin-bottom: -2px;

          &--active {
            opacity: 1;
            box-shadow: none;
            border-bottom: 2px solid black;
          }
        }
      }
      &__content {
        font-size: 15px;
        line-height: 24px;
        min-height: 220px;
        //background:#fff;
        padding: 1rem;
      }

    }

    //  buttons section
    #navBtns-block {
      background-color: rgba(grey, 0.15);
      padding: 100px 0;
      .outgo-btn {
        @media screen and (max-width: 1200px) {
          margin-bottom: 12px;
        }
      }
    }

    @media screen and (max-width: 1400px) {
      .product-leftSide {
        .VueCarousel {
          .VueCarousel-navigation {
            display: none;
            .VueCarousel-navigation-button {
              &.VueCarousel-navigation-prev {

              }
              &.VueCarousel-navigation-next {
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      padding: 100px 0 0;
      .product-leftSide {
        .VueCarousel {
          .VueCarousel-navigation {
            .VueCarousel-navigation-button {
              //transform: none;
              transform: translateY(0%);
              height: 100px; width: 50px;
              color: transparent;
              &:focus {
                box-shadow: none;
                outline: none;
              }
              //content: '' !important;
              &.VueCarousel-navigation-prev {
                display: block;
                left: 10%; top: 15%;
                background: url("../assets/product-page/prod-left-arrow.png") no-repeat center;
              }
              &.VueCarousel-navigation-next {
                display: block;
                right: 10%; top: 15%;
                background: url("../assets/product-page/prod-right-arrow.png") no-repeat center;
              }
            }
          }
          .VueCarousel-pagination {
            .VueCarousel-dot {
              border-radius: 0;
              padding: 40px 45px !important;
              //background-color: #121212 !important;
              background: url("../assets/product-page/hex-small-item-1.png") no-repeat center/100%, transparent !important;
              &:focus {outline: none;}
              &--active {
                background: url("../assets/product-page/hex-small-1_shadow.png") no-repeat center/100%, transparent !important;
              }
            }
          }
        }
      }
      //.product-rightSide {
      //  .product-title {
      //    text-align: center;
      //    h1 {
      //      font-size: 28px;
      //      line-height: 26px;
      //      margin-top: 40px;
      //    }
      //  }
      //  .product-icons-row {
      //    margin-bottom: 20px;
      //  }
      //}

      .product-tabs {
        &__nav {
          overflow-y: hidden;
          overflow-x: scroll;
        }
      }
    }
  }
</style>
