<template>
  <button class="purchaseBtn">
    <slot name="purchase-button-link"></slot>
  </button>
</template>

<script>
export default {
  name: "purchaseButton"
}
</script>

<style lang="scss" scoped>
  .purchaseBtn {
    position: relative;
    font-family: "KellySlab", serif;
    text-align: center;
    background: transparent;
    border: none;
    background: url("../assets/purchaseBtn.png") no-repeat center/100%;
    width: 200px; height: 48px;
    color: #FFFFFF;
    &:hover {
      background: url("../assets/purchaseBtn-hover.png") no-repeat center/100%;
    }
    &:active {
      background: url("../assets/purchaseBtn-tap.png") no-repeat center/100%;
    }
    &:focus {
      box-shadow: none;
    }
    .purchase-button-link {
      display: flex;
      justify-content: center;
      font-size: 20px;
      color: white;
      text-decoration: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      text-align: center;
    }
    @media screen and (max-width: 992px) {
      width: 150px; height: 36px;
      .purchase-button-link {
        font-size: 15px;
      }
    }
  }
</style>
