<template>
  <button class="purCatalogBtn">
    <slot name="pur-button-link"></slot>
  </button>
</template>

<script>
export default {
  name: "purchaseCatalogBtn"
}
</script>

<style lang="scss" scoped>
  .purCatalogBtn {
    position: relative;
    font-family: TT Mussels, sans-serif;
    font-weight: 500;
    text-align: center;
    background: transparent;
    border: none;
    background: url("../assets/product-page/purCatalogBtn.png") no-repeat center/100%;
    width: 140px; height: 48px;
    color: #FFFFFF;
    &:hover {;
    }
    &:active {
    }
    &:focus {
      box-shadow: none;
    }
    .pur-button-link {
      display: flex;
      justify-content: center;
      font-size: 20px;
      color: white;
      text-decoration: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      text-align: center;
    }
    @media screen and (max-width: 992px) {
      width: 106px; height: 36px;
      .pur-button-link {
        font-size: 15px;
      }
    }
  }
</style>
