<template>
  <div class="quantity d-flex justify-content-end align-items-center">
    <button v-show="quantity > 0" v-on:click.prevent="decrement" class="btn-decrement"></button>
    <p>{{ quantity }}</p>
    <button v-show="quantity >= 0" v-on:click.prevent="increment" class="btn-increment"></button>
  </div>
</template>

<script>
export default {
  name: "quantityButton",
  data() {
    return {
      quantity: 1
    };
  },
  methods: {
    increment() {
      this.quantity++;
    },
    decrement() {
      if (this.quantity > 0) {
        this.quantity--;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.quantity {
  max-width: 180px; height: 64px;
  background: url("../assets/product-page/count-btt_bg.png") no-repeat center/100%;
  width: 100%;
  button {
    height: 100%;
    background: transparent;
    border: none
  }
  .btn-decrement {
    width: 40%;
    background: url("../assets/product-page/minus-icon.svg") no-repeat 70% center;
  }
  .btn-increment {
    width: 40%;
    background: url("../assets/product-page/plus-icon.svg") no-repeat 30% center;
  }
  p {
    width: 20%;
    text-align: center;
    align-content: center;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  }
}
</style>
