<template>
  <div id="register-page">
    <breadcrumbsComponent class="mb-5"/>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9">
          <div class="notice-block">
            <div class="row">
              <div class="col-12 col-md-2">
                <img src="../assets/register-page/notice-mark.png" class="img-fluid" alt="">
              </div>
              <div class="col-12 col-md-10">
                <p>Зарегистрируйтесь, чтобы использовать все возможности личного кабинета: отслеживание заказов, настройку подписки, связи с социальными сетями и другие.</p>
                <p>Уже зарегистрированы?<a href=""> Войдите</a> в личный кабинет.</p>
                <p>Мы никогда и ни при каких условиях не разглашаем личные данные клиентов. Контактная информация будет использована только для оформления заказов и более удобной работы с сайтом.</p>
              </div>
            </div>
          </div>
          <div class="reg-block">
            <div class="head-block d-flex">
              <div class="mx-3"><img src="../assets/register-page/card-icon.png" class="img-fluid" alt=""></div>
              <p>РЕГИСТРАЦИЯ</p>
            </div>
            <div class="reg-body">
              <form id="brise-form">
                <div class="wrap-line">
                  <div class="brise-input">
                    <input type="text" name="text" required>
                    <label>Имя</label>
                    <span class="line"></span>
                  </div>
                  <div class="brise-input">
                    <input type="text" name="text" required>
                    <label>Отчество</label>
                    <span class="line"></span>
                  </div>
                </div>
                <div class="wrap-line">
                  <div class="brise-input">
                    <input type="text" name="text" required>
                    <label>Фамилия</label>
                    <span class="line"></span>
                  </div>
                  <div class="brise-input">
                    <input type="text" name="text" required>
                    <label>Телефон</label>
                    <span class="line"></span>
                  </div>
                </div>
                <div class="wrap-line">
                  <div class="brise-input">
                    <input type="text" name="text" required>
                    <label>Email</label>
                    <span class="line"></span>
                  </div>
                </div>
                <div class="wrap-line">
                  <div class="brise-input">
                    <input type="text" name="text" required>
                    <label>Email</label>
                    <span class="line"></span>
                  </div>
                </div>
                <button class="btn" type="submit">Зарегистрироваться</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <div class="socials-block">
            <div class="title">
              <span>Войти как пользователь</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <externalNavBtns/>
  </div>
</template>

<script>
import breadcrumbsComponent from "@/components/BreadcrumbsComponent";
import externalNavBtns from "@/components/ExternalNavBtns";

export default {
  name: "Register",
  components: {
    breadcrumbsComponent,
    externalNavBtns
  }
}
</script>

<style lang="scss" scoped>
  #register-page {
    .notice-block {
      padding: 30px 40px;
      background: #F8F8F9;
      p {
        font-weight: 400;
        font-size: 15px;
        a {
          color: #97743A;
          font-weight: 500;
        }
      }
    }
    .socials-block {
      padding: 20px 30px;
      border: 1px solid rgba(black, 0.15);
      .title {
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(#C4C4C4, 1);
        span {
          font-weight: 600;
          font-size: 15px;

        }
      }
    }
    .reg-block {
      margin-top: 20px;
      margin-bottom: 100px;
      .head-block {
        padding: 20px 10px;
        background: #F8F8F9;
        p {
          margin: 0;
          font-weight: 600;
          font-size: 20px;
        }
      }
      .reg-body {
        border: 1px solid rgba(black, 0.15);
        padding: 20px 50px;
        form {
          .wrap-line {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
          }
          .brise-input {
            width: 350px;
            position: relative;
            margin: 5px;
            overflow: hidden;
            padding-top: 15px;

          }
          .brise-input input {
            width: 100%;
            padding: 10px;
            border: none;
            outline: none;
            border-bottom: 1px solid #999;
            box-sizing: border-box;
            position: relative;
            z-index: 5;
            background: none;
            font-weight: 400;
            font-size: 15px;
            color: rgba(black, 0.35);
          }
          .brise-input input:focus ~ label, input:valid ~ label  {
            top: 0;
            transform: scale(0.94) translateX(-2px);
            font-weight: 500;
            font-size: 12px;
            color: #97743A;
            text-transform: uppercase;
          }
          .brise-input .line {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(to right, #FDF5E5 20%, #CEA662 70%, #583C0D 100%);
            //left: -999px;
            transition: .25s;
            opacity: 0;
            z-index: 6;
          }
          .brise-input input:focus ~ .line {
            left: 0;
            opacity: 1;
          }
          .brise-input label {
            position: absolute;
            left: 10px;
            top: 45%;
            transition: ease-out .15s;
            color: #999;
          }
          button {
            width: 270px; height: 48px;
            background: url("../assets/register-page/reg-btn.png") center/100%;
            font-weight: 500;
            font-size: 20px;
            color: white;
          }
        }
      }
    }
  }
</style>
