<template>
  <section id="items-carousel">
    <div class="carousel-title text-center"><span>Популярные товары</span></div>
    <carousel class="d-none d-md-block" :per-page="1" :mouse-drag="true" :autoplay="true" :loop="true" :autoplayTimeout="5000" :navigationEnabled="true">
      <slide v-for="(item) in itemsCarousel_slides" :key="item.id">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-5 col-md-3 mb-5 mb-md-0  itemCol" v-for="item of itemsCarousel_arr" :key="item.id">
              <img :src="`${require(`@/assets/${item.fileName}`)}`" class="img-fluid" alt="">
              <div class="item-desc">{{item.title}}</div>
              <purchaseButton>
                <template v-slot:purchase-button-link>
                  <a class="purchase-button-link" href="#">Купить</a>
                </template>
              </purchaseButton>
            </div>
          </div>
        </div>
      </slide>
    </carousel>
    <carousel class="d-block d-md-none" :per-page="1" :mouse-drag="true" :autoplay="false" :loop="true" :autoplayTimeout="5000" :navigationEnabled="true">
      <slide v-for="(item) in itemsCarousel_slides" :key="item.id">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-5 col-md-3 itemCol" v-for="item of itemsCarousel_arr_mobile" :key="item.id">
              <img :src="`${require(`@/assets/${item.fileName}`)}`" class="img-fluid" alt="">
              <div class="item-desc">{{item.title}}</div>
              <purchaseButton>
                <template v-slot:purchase-button-link>
                  <a class="purchase-button-link" href="#">Купить</a>
                </template>
              </purchaseButton>
            </div>
          </div>
        </div>
      </slide>
    </carousel>
  </section>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import purchaseButton from "@/components/purchaseButton";
export default {
  name: "SuggestionCarousel",
  components: {
    Carousel,
    Slide,
    purchaseButton
  },
  data() {
    return {
      itemsCarousel_slides: 7,
      itemsCarousel_arr: [
        {title: 'Ансуз руна амулет (кулон серебряный)', fileName: 'hex-small-1.png'},
        {title: 'Радианс Подвеска Руна Соулу', fileName: 'hex-small-2.png'},
        {title: 'Кольцо со скандинавскими рунами', fileName: 'hex-small-3.png'},
        {title: 'Браслет мужской в скандинавском стиле', fileName: 'hex-small-4.png'}
      ],
      itemsCarousel_arr_mobile: [
        {title: 'Ансуз руна амулет (кулон серебряный)', fileName: 'hex-small-1.png'},
        {title: 'Радианс Подвеска Руна Соулу', fileName: 'hex-small-2.png'},
      ],
    }
  }
}
</script>

<style lang="scss">
  #items-carousel {
  //background: #111111;
  //animation: scroll 70s linear infinite;
  background: url("../assets/pattern-hex.svg") center top/35%, url("../assets/black_paper.png");
  align-items: center;
  padding-top: 100px;
  .carousel-title {
    align-items: center;
    font-size: 46px;
    font-family: KellySlab, serif;
    color: white;
  }
  .VueCarousel {
    padding: 50px 0;
    .itemCol {
      display: flex;
      flex-direction: column;
      justify-content: space-between !important;
      flex-wrap: nowrap;
      align-items: center;
      text-align: center;
      //margin-bottom: 50px;
      img {
        margin-bottom: 20px;
      }
      .item-desc {
        width: 95%;
        color: white;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 15px;
      }
    }
    .VueCarousel-navigation {
      position: absolute;
      width: 100%;
      top: 21%;
    }

    .VueCarousel-navigation-button {

      transform: none;
      height: 100px; width: 50px;
      color: transparent;
      &:focus {
        box-shadow: none;
        outline: none;
      }
      //content: '' !important;
      &.VueCarousel-navigation-prev {
        left: 10%;
        background: url("../assets/arr-left.png") no-repeat center;
      }
      &.VueCarousel-navigation-next {
        right: 10%;
        background: url("../assets/arr-right.png") no-repeat center;
      }
    }
    .VueCarousel-pagination {
      .VueCarousel-dot {
        border-radius: 0;
        padding: 14px 16px !important;
        //background-color: #121212 !important;
        background: url("../assets/carousel-dot.png") no-repeat center, transparent !important;
        &:focus {outline: none;}
        &--active {
          background: url("../assets/carousel-dot-active.png") no-repeat center, url("../assets/carousel-dot-active-frame.png") no-repeat center, transparent !important;
        }
      }
    }
  }
  @media screen and (max-width: 1920px) {
    .VueCarousel {
      .VueCarousel-navigation {
        .VueCarousel-navigation-button {
          &.VueCarousel-navigation-prev {
            left: 3%;
          }
          &.VueCarousel-navigation-next {
            right: 3%;
          }
        }

      }
    }
  }

  @media screen and (max-width: 1400px) {
    .VueCarousel {
      .VueCarousel-navigation {
        display: none;
      }
    }
  }

  @media screen and (max-width: 992px) {
    padding: 30px 0 20px;
    .carousel-title {
      align-items: center;
      font-size: 32px;
      font-family: KellySlab, serif;
      color: white;
      margin-bottom: 20px;
    }
    .VueCarousel {
      padding: 20px 0;
      .itemCol {
        //margin-bottom: 10px;
        .item-desc {
          font-size: 15px;
          line-height: 20px;
        }
      }
      .VueCarousel-navigation-button {
        display: none;
      }
      .VueCarousel-pagination {
        .VueCarousel-dot-container {
          margin-top: 10px !important;
        }
        .VueCarousel-dot {
          border-radius: 0;
          padding: 8px 10px !important;
          background: url("../assets/carousel-dot.png") no-repeat center/25%, transparent !important;
          &--active {
            background: url("../assets/carousel-dot-active.png") no-repeat center/25%, url("../assets/carousel-dot-active-frame.png") no-repeat center/100%, transparent !important;
          }
        }
      }
    }
  }
}
</style>
