<template>
  <div id="app">
    <Header :class="{ 'nav-home': this.$route.path === '/' }"></Header>
    <main>
      <transition
          :name="transitionName"
          :mode="transitionMode"
          :enter-active-class="transitionEnterActiveClass"
      >
        <router-view :class="{ 'head-router-view': this.$route.path !== '/' }" />
      </transition>

    </main>
    <Footer></Footer>
    <transition name="fade">
      <div id="page-toTop" v-show="scY> 300" @click="toTop">
        <svg xmlns="http://www.w3.org/2000/svg" width="51" height="45" viewBox="0 0 18 18" >
          <path d="M12 10l-3-3-3 3" fill="none" stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </transition>
  </div>
</template>

<script>
import './app.scss'
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'

const DEFAULT_TRANSITION = `fade`;
const DEFAULT_TRANSITION_MODE = `out-in`;

export default {
  name: 'App',
  components: {Header, Footer},
  data: () => ({
    prevHeight: 0,
    transitionName: DEFAULT_TRANSITION,
    transitionMode: DEFAULT_TRANSITION_MODE,
    transitionEnterActiveClass: ``,

    scTimer: 0,
    scY: 0,
  }),
  mounted() {
    window.addEventListener('scroll', this.handleScroll);
    // window.scrollTo(0,0)
    this.$router.beforeEach((to, from, next) => {
      window.scrollTo(0, 0)
      let transitionName = to.meta.transitionName || from.meta.transitionName || DEFAULT_TRANSITION;

      this.transitionMode = DEFAULT_TRANSITION_MODE;
      this.transitionEnterActiveClass = `${transitionName}-enter-active`;

      this.transitionName = transitionName;
      next();
    })
  },

  // created() {
  //   this.$router.beforeEach((to, from, next) => {
  //     window.scrollTo(0, 0)
  //     // let transitionName = to.meta.transitionName || from.meta.transitionName || DEFAULT_TRANSITION;
  //     //
  //     // this.transitionMode = DEFAULT_TRANSITION_MODE;
  //     // this.transitionEnterActiveClass = `${transitionName}-enter-active`;
  //     //
  //     // this.transitionName = transitionName;
  //     next();
  //   })
  // },

  methods: {

    // // index-view transition animation
    // beforeLeave(element) {
    //   this.prevHeight = getComputedStyle(element).height;
    // },
    // enter(element) {
    //   const { height } = getComputedStyle(element);
    //   // eslint-disable-next-line no-param-reassign
    //   element.style.height = this.prevHeight;
    //   setTimeout(() => {
    //     // eslint-disable-next-line no-param-reassign
    //     element.style.height = height;
    //   });
    // },
    // afterEnter(element) {
    //   // eslint-disable-next-line no-param-reassign
    //   element.style.height = `auto`;
    // },

    // app scroll to top button
    handleScroll: function () {
      if (this.scTimer) return;
      this.scTimer = setTimeout(() => {
        this.scY = window.scrollY;
        clearTimeout(this.scTimer);
        this.scTimer = 0;
      }, 150);
    },
    toTop: function () {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
    },
  },

}
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400;500;700;900&display=swap');

  @font-face {
    font-family: "KellySlab";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: local("KellySlab"),
        url("../public/fonts/KellySlab/KellySlab-Regular.woff") format("woff"),
        url("../public/fonts/KellySlab/KellySlab-Regular.woff2") format("woff2"),
        url("../public/fonts/KellySlab/KellySlab-Regular.ttf") format("ttf"),
        url("../public/fonts/KellySlab/KellySlab-Regular.otf") format("otf");
  }

  @font-face {
    font-family: "TTMussels";
    font-weight: 300;
    font-style: normal;
    font-display: auto;
    src:
        local("TTMussels-Light"),
        url("../public/fonts/TTMussels/TTMussels-Light.eot?") format("eot"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
        url("../public/fonts/TTMussels/TTMussels-Light.woff") format("woff"), /* все современные браузеры, IE9+ */
        url("../public/fonts/TTMussels/TTMussels-Light.woff2") format("woff2"),
        url("../public/fonts/TTMussels/TTMussels-Light.ttf") format("truetype"); /* все современные браузеры */
  }
  @font-face {
    font-family: "TTMussels";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src:
        local("TTMussels-Regular"),
        url("../public/fonts/TTMussels/TTMussels-Regular.eot?") format("eot"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
        url("../public/fonts/TTMussels/TTMussels-Regular.woff") format("woff"), /* все современные браузеры, IE9+ */
        url("../public/fonts/TTMussels/TTMussels-Regular.woff2") format("woff2"),
        url("../public/fonts/TTMussels/TTMussels-Regular.ttf") format("truetype"); /* все современные браузеры */
  }
  @font-face {
    font-family: "TTMussels-Medium";
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    src:
        local("TTMussels-Medium"),
        url("../public/fonts/TTMussels/TTMussels-Medium.eot?") format("eot"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
        url("../public/fonts/TTMussels/TTMussels-Medium.woff") format("woff"), /* все современные браузеры, IE9+ */
        url("../public/fonts/TTMussels/TTMussels-Medium.woff2") format("woff2"),
        url("../public/fonts/TTMussels/TTMussels-Medium.ttf") format("truetype"); /* все современные браузеры */
  }
  @font-face {
    font-family: "TTMussels-Bold";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    src:
        local("TTMussels"),
        url("../public/fonts/TTMussels/TTMussels-Bold.eot?") format("eot"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
        url("../public/fonts/TTMussels/TTMussels-Bold.woff") format("woff"), /* все современные браузеры, IE9+ */
        url("../public/fonts/TTMussels/TTMussels-Bold.woff2") format("woff2"),
        url("../public/fonts/TTMussels/TTMussels-Bold.ttf") format("truetype"); /* все современные браузеры */
  }

  .head-router-view {
    padding-top: 116px;
    @media screen and (max-width: 992px) {
      padding-top: 72px !important;
    }
  }

  body {
    font-family: 'Roboto', sans-serif;
    .breadcrumb {
      .breadcrumb-item {
        .router-link {
          &-active {
            font-size: 15px;
            line-height: 18px;
            color: #CEA662;
          }
          &-exact-active {
            color: gray;
          }
        }
      }
    }
    .nav-home {
      background: transparent;
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    //transition-duration: 0.15s;
    //transition-property: height, opacity;
    //transition-timing-function: ease;
    transition: opacity 0.15s ease;
    overflow: hidden;
  }
  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }

  #page-toTop {
    position: fixed;
    right: 25px; bottom: 25px;
    background: url("assets/toTop_bg.png") no-repeat center center;
    cursor: pointer;
  }
</style>
